.wrapper {
  position: relative;
}
.MenuTabs {
  display: flex;
  position: absolute;
  left: 20.2%;

  width: max-content;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: white;
  box-shadow: rgba(136, 237, 253, 0.421) 0px 2px 8px 0px;
  top: 60px;
}
.leftPanel {
  display: flex;
  flex-flow: column;
  margin-right: 20px;
}

.leftPanel span {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  width: 250px;
  color: #2d9cd7;
  font-size: 16px;
  padding: 15px 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.leftPanel span:hover {
  cursor: pointer;
  color: white;
  background-color: #2d9cd7;
}
.RowWrap {
  display: grid;

  grid-template-columns: 50% 50%;
}
.Row {
  width: 100%;
  height: 100%;
}
.Program {
  margin: 10px;
  box-shadow: rgba(150, 230, 250, 0.444) 0px 3px 8px;
  padding: 0px;
  width: max-content;
  border-radius: 8px;
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: space-between;
}
