.programWrap{
    display: grid;
    grid-template-columns: 40% 52%;
    gap: 60px;
    padding: 40px 100px;
}
.programWrap h4{
    color: #28557A;
    font-size: 36px;
    text-align: left;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxWrap{
    display: flex;
    width: 100%;
    flex-flow: column;
 gap: 60px;
    justify-content: space-between;
}
.top, .bottom{
    display: flex;
    width: 100%;
   
    align-items: center;
    gap: 20%;
}
.leftSide, .rightSide{
    width: 35%;
    padding: 40px 20px;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.leftSide p , .rightSide p{
    margin-top: 40px;
    color: #28557A;
}
.boxIcon{
    width: 90px;
    height: 60px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    display: flex;
    left: -20px;
    z-index: 1;
    top: -10px;
    align-items: center;
    justify-content: center;
}
.line{
    color: #FCCC83;
    background-color: #FCCC83;
    outline: none;
    border: 0;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    height: 15px;
}
@media (max-width: 481px) {
    .programWrap{
        padding: 20px;
        grid-template-columns: 100%;
    }
    .programWrap h4{
        font-size: 20px;
    }
.left{
    display: none;
}
.top, .bottom{
    display: flex;
    width: 100%;
   justify-content: center;
    align-items: center;
    gap: 40px;
}
.leftSide, .rightSide{
    width: 42%;
    padding: 20px 10px;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.boxIcon{
    width: 70px;
    height: 60px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    display: flex;
    left: -20px;
    z-index: 1;
    top: -10px;
    align-items: center;
    justify-content: center;
}
.leftSide p , .rightSide p{
    margin-top: 40px;
    font-size: 14px;
    color: #28557A;
}
}