.head {
  text-align: left;
  font-size: 24px;
  margin: 10px 0px;
}

.section {
    padding-left: 50px;
    padding-bottom: 120px;
}


  .SecondSection {
    margin: 20px 0px 100px 0px;
    background: #0072bc15;
    padding: 20px 50px 10px 50px;
    border-radius: 20px;
  }

  .pBlue {
    margin: 0;
font-weight: 600;
font-size: 18px;
color: #0072BC;
}

.cont2 {
  display: none;
}

  @media (max-width: 641px) { 
    .section {
      padding: 0;
    }
    .head {
      text-align: center;
    }
    .SecondSection {
      margin: 30px 0;
    }
    .section {
      padding: 0;
    }
    .cont2 {
      display: block;
      text-align: center;
    }
    .cont p {
      text-align: center;
    }
   }
