
.OtherCertificate {
    margin: 0px 100px 70px 100px;
}

.OtherCertificate h4 {
    text-align: center;
}
.OtherCertificatediv {
    display: flex;
    justify-content: center;
    text-align: left;
}
.OtherCertificateInner {
    box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
    margin: 10px;
    width: 50%;
    padding: 10px;
}

.heading, .para {
    margin: 0;
    font-size: 16px;
    color: #000
}

.heading {
    font-weight: bold;
}


@media (min-width: 641px) and (max-width: 960px) {
    .OtherCertificate{
        margin: 0px 20px 30px 20px;
    }
}

@media (max-width: 481px) {
    .OtherCertificate {
        margin: 20px 0px 30px 0px;
    }
    .OtherCertificatediv {
        display: block;
    }
    .OtherCertificateInner {
        width: fit-content;
    }
}