.wrapper {
  display: grid;
  grid-template-columns: 47% 50%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px 100px;
}
.imgWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.checkPointWrap {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 10px;
}
.contentWrap {
  display: flex;
  flex-flow: column;
}
.contentWrap h6 {
  margin: 0;
  font-size: 18px;
}
.rightContent h4 {
  font-size: 35px;
  color: #28557a;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0px;
}
.rightContent button {
  margin-top: 30px;
}
.checkpoint {
  display: flex;
  align-items: center;
gap: 10px;
  text-align: left;
  color: #686565;
  margin-top: 30px;
}

.checkpoint p {
  margin: 0;
}

.check {
  color: #2db621;
  font-size: 50px;
  font-weight: 800;
}
@media (max-width: 1281px) {
  .wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 44px;
    padding: 40px 70px;
  }

  .rightContent h4 {
    font-size: 30px;
    color: #28557a;
    font-weight: 600;
  }

  .checkpoint {
    display: flex;
    align-items: center;
    text-align: center;
    color: #686565;
  }

  .check {
    color: #2db621;
    font-size: 35px;
    font-weight: 800;
  }
}

@media (max-width: 481px) {
  .wrapper {
    display: flex;
    flex-flow: column;
    padding: 40px 20px;
  }
  .rightContent h4 {
    font-size: 20px;
    line-height: 25px;
    color: #28557a;
    margin-bottom: 5px;
  }
  .check {
    font-size: 30px;
    font-weight: 800;
  }
  .checkpoint {
    display: grid;
    grid-template-columns: 9% 92%;
    align-items: flex-start;
    text-align: left;
    color: #686565;
    margin: 10px 0px;
  }
  .checkpoint p {
    margin: 0;
  }
  .checkPointWrap{
    display: block;
  }
}
