.Features {
  display: grid;
  flex-flow: column;
  padding: 50px 100px 0px 100px;
}
.topHead {
  font-size: 35px;
  margin: 0;
  text-align: center;
  font-weight: 500;
}
.FeatureWrap {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 40% 58%;
  gap: 20px;
  align-items: center;
}
.bIcon {
  margin-left: 5px;
}
.LeftWrap {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.LeftWrap h6 {
  font-size: 25px;
  margin: 0;
  font-weight: 500;
  color: #28557a;
  margin-top: 30px;
  margin-bottom: 20px;
}
.LeftWrap h6 span {
  border-bottom: 3px solid #edb552;
}
.LeftWrap p {
  display: flex;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  margin-top: 1em;
}
.tickIcon {
  color: #3c59a8;
  margin-right: 10px;
  font-size: 20px;
}
.LeftWrap,
.RightWrap {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(237, 181, 82, 0.25);
  border-radius: 44px;

  height: 100%;
  padding: 50px;
}
.btn {
  padding: 12px 24px;
  width: max-content;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  color: #28557a;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  border-color: 1px solid #28557a;
  box-shadow: 0px 0px 10px 0px rgb(45 156 215 / 31%);
}
.btn:hover {
  background-color: #28557a;
  color: white;
}
.bIcons {
  color: #28557a;
  font-size: 45px;
}
.RightWrap {
  background: #f4fcfe;
  height: 500px;
}

@media (max-width: 961px){
  .Features {
    padding: 50px 30px 0px 30px;
  }
  .LeftWrap,
.RightWrap {
  padding: 20px;
}
.btn {
  margin: 30px 0px 0px 0px;
}
.RightWrap {
  background: #f4fcfe;
  height: 500px;
  display: flex;
  align-items: center;
  height: 100%;
}
}

@media (max-width: 600px) {
  .Features {
    display: block;
    flex-flow: column;
    padding: 0px;
    margin: 40px 20px;
  }
  .FeatureWrap {
    margin-top: 30px;
    display: block;
    align-items: center;
  }
  .LeftWrap {
    display: flex;
    flex-flow: column;
    padding: 20px;
  }
  .RightWrap {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
    margin-top: 20px;
    padding: 20px;
  }
  .topHead {
    font-size: 24px;
    margin: 0;
    text-align: center;
    font-weight: 500;
  }
.btn {
  margin-left: 0px; 
}
}
