.DomainWrapper{
    padding: 30px 100px;
    background-image: url("/domainnFAQBack.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 49% 49% ;
    gap: 0px;
}
.DomainWrapper h5{
    margin: 0;
    font-size: 37px;

}
.DomainWrapper p{
    font-size: 16px;
    margin: 0;
    color: #646464;
}
.rightSide{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 481px) {
.DomainWrapper{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    background-position: right;
}
  }