.DomainWrapper {
  padding: 30px 100px;
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/domainnFAQBack.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 0px;
  margin-bottom: 50px;
}
.DomainWrapper h5 {
  margin: 10px 0px;
  font-size: 37px;
}
.DomainWrapper p {
  font-size: 18px;
  margin: 0;
  color: #646464;
}
.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1281px) {
  .DomainWrapper {
    padding: 30px 40px;
    gap: 30px;
  }
  .DomainWrapper h5 {
    font-size: 32px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .DomainWrapper {
   display: block;
   margin-bottom: 10px;
   background: #F3FCFE;
  }
}

@media (max-width: 481px) {
  .DomainWrapper {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    background-position: right;
    margin: 0;
  }
}
