.FAQ {
  margin: 10px 0px;
}
.quesh {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;

  padding: 10px 0px 10px 0px;
  align-items: center;
  cursor: pointer;
  text-align: left;
  margin-bottom: 20px;
}
.queshO {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;

  padding: 10px 0px 10px 0px;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
}

.quesh h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  line-height: 22px;
  color: #2d9cd7;
  text-align: left;
}

.queshO h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  line-height: 22px;
  color: #2d9cd7;
  text-align: left;
}

.ans {
  margin-bottom: 20px;
}
.ans p {
  margin: 0;
  font-size: 18px;
}

.link {
  color: #2d9cd7;
}

.ans p {
  padding: 5px 0px;
  color: #646464;
  font-size: 18px;

  border-radius: 0px 0px 8px 8px;
}
.ansV {
  display: none;
}
.FaqWrapper {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}

@media (max-width: 481px) {
  .ans {
    margin-bottom: 20px;
  }
  .FAQ {
    margin: 20px 0px 30px 0px;
    justify-content: center;
  }
  .ques {
    height: max-content;
  }
  .quesO {
    height: max-content;
  }
}
