.Section {
  padding: 0px 100px;
}

.ProjectFlex {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 70px;
  margin-top: 20px;
}

.box {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: fit-content;
}

.GreyBg {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #0072bc10;
  border-radius: 20px;
  align-items: center;
}

.pGrey {
  font-weight: 600;
  margin: 0;
  font-size: 22px;
  color: #000000;
  opacity: 0.6;
}

.cont {
  margin: 0;
  padding: 40px 30px;
  text-align: left;
  font-size: 18px;
}

.box:first-child,
.box:last-child {
  margin-top: 150px;
}

.projecth4 {
  width: 23%;
  display: flex;
  margin: auto;
  margin-top: -115px;
  margin-bottom: 60px;
}

.upLine {
  margin-left: 10%;
}

.contFlex {
  display: grid;
  grid-template-columns: 59% 41%;
}

.headCont h4 {
    text-align: left;
}

.headCont {
    padding-right: 120px;
}

.boxSmall {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contMain {
  padding-right: 130px;
}

.boxGrey {
    background: rgba(77, 77, 77, 0.02);
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 10px;
width: 80%;
padding: 30px;
display: flex;
gap: 20px;
align-items: center;
}

.boxGrey p {
    margin: 0;
    font-size: 22px;
    color: #2d97de;
}

.greyIcon {
    font-size: 50px;
}

.botLine {
  margin-left: 20%;
}
.projecth4D {
  display: none;
}

@media (max-width: 641px) { 
  .Section {
    padding: 20px;
  }
  .upLine {
    display: none;
  }
  .contFlex {
    display: block;
    margin-top: 30px;
  }
  .headCont {
    padding: 0;
  }
  .contMain {
    padding: 0;
    text-align: center;
  }
  .botLine {
    display: none;
  }
  .boxSmall {
    gap: 20px;
  }
  .boxGrey {
    padding: 20px;
    width: 100%;
  }
  .boxGrey p {
    font-size: 20px;
  }
  .greyIcon {
    font-size: 35px;
  }
  .projecth4  {
    width: 100%;
    margin: 0;
  }
  .ProjectFlex {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .box:last-child, .box:first-child {
    margin: 0;
  }
  .projecth4 {
    display: none;
  }
  .projecth4D {
    display: block;
  }
  .headCont h4 {
    text-align: center;
  }
 }
