@media (min-width: 1281px) {
    .wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 59% 39%;
      margin: 70px 100px;
    }
    .left {
      padding: 30px 70px 0px 0px;
    }
    .mobileDivWrapper {
      display: flex;
    }
    .left h1 {
      font-size: 34px;
      margin: 0;
      font-weight: bold;
      padding: 0;
    }
    .left h1 p {
      color: #2D9CD7;
      margin: 0;
      font-size: 30px;
    }
  
    .btnWrapper {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-top: 30px;
    }
  
    .btnWrapper button {
      font-size: 16px;
      font-weight: 400;
      border-radius: 6px;
      padding: 16px 35px;
      box-shadow: #2d9cd7 0px 0px 4px 0px;
      margin-right: 50px;
    }
    .btnWrapper button:hover {
      background-color: #fff;
      color: #2D9CD7;
      border: 1px solid #2D9CD7;
    }
    .first {
      background: rgb(255, 250, 251);
      background: linear-gradient(
        270deg,
        rgba(255, 250, 251, 1) 34%,
        rgba(255, 242, 245, 1) 83%
      );
      border-radius: 6px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-right: 20px;
    }
    .second {
      background: rgb(244, 254, 239);
      background: linear-gradient(
        270deg,
        rgba(244, 254, 239, 1) 34%,
        rgba(248, 254, 244, 1) 83%
      );
      border-radius: 6px;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      width: 110px;
      margin-right: 20px;
    }
    .third {
      background: rgb(247, 243, 255);
      background: linear-gradient(
        270deg,
        rgba(247, 243, 255, 1) 34%,
        rgba(250, 249, 254, 1) 83%
      );
      width: 110px;
      border-radius: 6px;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-right: 5px;
    }
    .btnWrapper h5 {
      color: rgb(82, 82, 82);
      font-weight: 600;
      font-size: 22px;
      margin: 0;
      margin-top: 10px;
    }
    .btnWrapper p {
      font-size: 10px;
      font-weight: 600;
      color: rgb(145, 145, 145);
    }
    .hPara {
      font-weight: 600;
      margin-top: 50px;
    }
  
    .right {
      display: flex;
  
      margin-top: 30px;
      width: 100%;
    }
    .bottom {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      height: auto;
      padding-top: 5px;
      border-radius: 10px;
      padding-bottom: 5px;
    }
    .gIcon {
      background-color: #2D9CD7;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon1 {
      background-color: #f28705;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon2 {
      background-color: #2D9CD7;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon3 {
      background-color: #6294d6;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon4 {
      background-color: #fad933;
      font-size: 30px;
      color: black;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .sText {
      font-size: 12px;
      color: rgb(99, 99, 99);
    }
    .ButtonDiv {
      display: flex;
    }
  }
  @media (max-width: 1280px) {
    .wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 59% 39%;
      margin: 70px 100px 0px 100px;
    }
    .left {
      padding: 30px 70px 0px 0px;
    }
    .left h1 {
      font-size: 30px;
      margin: 0;
      font-weight: bold;
      padding: 0;
    }
    .left h1 p {
      color: #2D9CD7;
      margin: 0;
      font-size: 30px;
    }
    .btnWrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .btnWrapper button {
      font-size: 14px;
      font-weight: 600;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
  
      margin-right: 20px;
    }
    .btnWrapper button:hover {
      background-color: #2D9CD7;
    }
    .first {
      background: rgb(255, 250, 251);
      background: linear-gradient(
        270deg,
        rgba(255, 250, 251, 1) 34%,
        rgba(255, 242, 245, 1) 83%
      );
      border-radius: 15px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-right: 10px;
    }
    .second {
      background: rgb(244, 254, 239);
      background: linear-gradient(
        270deg,
        rgba(244, 254, 239, 1) 34%,
        rgba(248, 254, 244, 1) 83%
      );
      border-radius: 15px;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-right: 10px;
    }
    .third {
      background: rgb(247, 243, 255);
      background: linear-gradient(
        270deg,
        rgba(247, 243, 255, 1) 34%,
        rgba(250, 249, 254, 1) 83%
      );
      border-radius: 15px;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-right: 5px;
    }
    .btnWrapper h5 {
      color: rgb(82, 82, 82);
      font-weight: 600;
      font-size: 22px;
      margin: 0;
      margin-top: 10px;
    }
    .btnWrapper p {
      font-size: 10px;
      font-weight: 600;
      color: rgb(145, 145, 145);
    }
    .hPara {
      font-weight: 600;
      margin-top: 20px;
    }
  
    .right {
      display: flex;
  
      margin-top: 30px;
      width: 100%;
    }
    .bottom {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      height: 80px;
      padding-top: 5px;
      border-radius: 10px;
      padding-bottom: 5px;
    }
  
    .sText {
      font-size: 12px;
      color: rgb(99, 99, 99);
    }
    .ButtonDiv {
      display: flex;
    }
  }
  @media (max-width: 481px) {
    .wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 100%;
      margin: 30px 0px 0px 0px;
    }
    .left {
      padding: 30px 0px 0px 0px;
      display: flex;
      flex-flow: column;
    }
    .left h1 {
      font-size: 27px;
      margin: 0;
      font-weight: bold;
      padding: 0;
    }
    .left h1 p {
      color: #2D9CD7;
      margin: 0;
      font-size: 22px;
    }
    .left p {
      font-size: 18px;
  
      margin: 0;
      margin-top: 10px;
    }
    .mobileDivWrapper {
      display: flex;
      margin-top: 10px;
    }
    .btnWrapper {
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
      flex-flow: column;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .btnWrapper button {
      font-size: 14px;
      font-weight: 600;
      width: max-content;
      display: flex;
      margin-top: 40px;
  
      justify-content: center;
      border-radius: 10px;
  
      margin-right: 20px;
    }
    .btnWrapper button:hover {
      background-color: #2D9CD7;
    }
    .first {
      background: rgb(255, 250, 251);
      background: linear-gradient(
        270deg,
        rgba(255, 250, 251, 1) 34%,
        rgba(255, 242, 245, 1) 83%
      );
      border-radius: 15px;
      padding: 5px 20px;
      display: flex;
  
      justify-content: center;
      flex-flow: column;
      margin-right: 10px;
    }
    .second {
      background: rgb(244, 254, 239);
      background: linear-gradient(
        270deg,
        rgba(244, 254, 239, 1) 34%,
        rgba(248, 254, 244, 1) 83%
      );
      border-radius: 15px;
      padding: 5px 15px;
      display: flex;
  
      justify-content: center;
      flex-flow: column;
      margin-right: 10px;
    }
    .third {
      background: rgb(247, 243, 255);
      background: linear-gradient(
        270deg,
        rgba(247, 243, 255, 1) 34%,
        rgba(250, 249, 254, 1) 83%
      );
      border-radius: 15px;
      padding: 5px 15px;
      display: flex;
  
      justify-content: center;
      flex-flow: column;
      margin-right: 5px;
    }
    .btnWrapper h5 {
      color: rgb(82, 82, 82);
      font-weight: 600;
      font-size: 22px;
      margin: 0;
      margin-top: 10px;
    }
    .btnWrapper p {
      font-size: 10px;
      font-weight: 600;
      color: rgb(145, 145, 145);
    }
    .hPara {
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .white {
      background-color: transparent;
      height: 600px;
      width: 500px;
    }
    .right {
      display: flex;
  
      margin-top: 30px;
      width: 100%;
      display: none;
    }
    .bottom {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      height: 100%;
      padding: 10px;
      margin-top: 10px;
      border-radius: 20px;
    }
    .gIcon {
      background-color: #2D9CD7;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon1 {
      background-color: #f28705;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon2 {
      background-color: #2D9CD7;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon3 {
      background-color: #6294d6;
      font-size: 30px;
      color: white;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .gIcon4 {
      background-color: #fad933;
      font-size: 30px;
      color: black;
      padding: 5px;
      flex-basis: 1;
      border-radius: 50%;
    }
    .sText {
      font-size: 12px;
      color: rgb(99, 99, 99);
    }
    .ButtonDiv {
      display: block;
    }
  }
  