.App {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.formWrapper {
  margin-bottom: 10px;
  width: 80%;
  height: 100%;
  text-align: left;
}

.alert {
  margin: 0;
  color: #2C9CD7 !important;
  font-size: 18px !important;
}

/* .formWrapper input {
  appearance: none;
} */
.formWrappers {
  margin-bottom: 10px;
  width: 81%;
  height: 100%;
  margin-bottom: 10px;
  text-align: left;
}
.NameInput {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  border: 1px solid grey;
  font-size: 16px;
  padding-left: 10px;
  color: rgb(167, 167, 167);
  outline: none;
}
.NameInputs {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  border: 1px solid grey;
  outline: none;
  background-color: rgba(255, 255, 255);
  height: 50px;
}
.EmailInput {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  border: 1px solid grey;
  font-size: 16px;
  padding-left: 10px;
  color: rgb(167, 167, 167);
  outline: none;
}
.EmailInputs {
  border-radius: 8px;

  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  outline: none;
  background-color: rgba(255, 255, 255);
  height: 50px;
}

.NameInput::placeholder,
.NameInputs::placeholder,
.EmailInput::placeholder,
.EmailInputs::placeholder {
  color: rgb(168, 168, 168);
  font-size: 16px;
}
.NameInput:active,
.EmailInput:active {
  border: 2px solid white;
}

.Phone input,
.Phones input {
  border: 0;
  width: 100%;
  outline: none;
  background-color: rgba(255, 255, 255);
}
.Phone input::placeholder,
.Phones input::placeholder {
  color: rgb(167, 167, 167);
  font-size: 16px;
}
.PhoneInputCountry .PhoneInputInput {
  border: none !important;
}
.formWrapperOtp {
  margin-bottom: 10px;
  width: 80%;
  height: 100%;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  gap: 10px;
}
.formWrapperOtp button {
  padding: 15px;
}
.formWrapper select {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  border: 1px solid grey;
  font-size: 16px;
  padding-left: 10px;
  color: rgb(167, 167, 167);
  outline: none;
}
.formWrapper select option {
  color: black;
  width: 100%;
  border: 0;
  background-color: #e7f4ff;
}
.FormText {
  color: grey;
  font-size: 8px;
  text-align: center;
}
.formWrapper select::placeholder {
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.formWrappers select {
  height: 50px;
  width: 100%;
  border-radius: 8px;

  border: 1px solid grey;
  font-size: 14px;
  padding: 10px;
  color: rgb(167, 167, 167);
  outline: none;
}
.formWrappers select::placeholder {
  color: rgb(167, 167, 167);
  font-size: 12px;
}
.formWrappers select option {
  color: black;
  width: 100%;
  border: 0;
  background-color: #e7f4ff;
}
.DateFormWrappers .date {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.date::-webkit-search-cancel-button,
.date::-webkit-clear-button {
  -webkit-appearance: none;
  background-image: url("/date.png");
  color: #0d4a9b;
  cursor: pointer;
  height: 1.5rem;
  margin-right: 0;
  width: 1.5rem;
}

.date::-webkit-calendar-picker-indicator {
  color: #0d4a9b;
  opacity: 1;
  background-image: url("/date.png");
  width: 23px;
  height: 18px;
  cursor: pointer;
  margin-left: 0.5rem;
}
.DateFormWrappers .time {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.tme::-webkit-search-cancel-button,
.time::-webkit-clear-button {
  -webkit-appearance: none;
  background-image: url("/time.png");
  color: #0d4a9b;
  cursor: pointer;
  height: 1.5rem;
  margin-right: 0;
  width: 1.5rem;
}

.time::-webkit-time-picker-indicator {
  color: #0d4a9b;
  opacity: 1;
  background-image: url("/time.png");
  width: 23px;
  height: 18px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.button {
  width: 80%;
  padding: 10px 25px;
  display: flex;
  margin: auto;
  justify-content: center;
  cursor: pointer;
}
.App form {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.DateFormWrappers {
  margin-bottom: 10px;
  width: 80%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
}

.ldsring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0d4a9b;
  border-radius: 50%;
  animation: ldsring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0d4a9b transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ring {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
}
.inner {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 100%;
  gap: 10px;
}
.date input {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 50px;
  color: rgb(167, 167, 167);
  font-size: 16px;
}
.formWrapper .date input {
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  padding: 10px;
  width: 100%;
  height: 50px;
  color: rgb(167, 167, 167);
  font-size: 16px;
}
.date input:focus-visible {
  outline: 1px solid #0487d9;
}
