.main {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 42% 50%;
    gap: 100px;
    align-items: center;
}

.right h4 {
    text-align: left;
}

@media (max-width: 481px) {
    .main {
        padding: 20px;
        grid-template-columns: 100%;
        gap: 20px;
    }

}