.First {
  background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/FirstSectionBg.png");
  background-size: contain;
  margin-top: 70px;
  padding: 70px 100px 70px 100px;
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 50px;
}

.FirstLeft button {
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-weight: 700;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
}

.FirstLeft button:hover {
  background: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
}

/* .imgArrow {
    margin-top: -30px !important;
} */

.ptopC {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  margin: 0;
}

.ptop {
  font-size: 20px;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
}

.ptopR {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.h1Span {
  color: #f99600;
}

.h1 {
  color: #0072bc;

  font-weight: 700;
  margin: 5px 0px 20px 0px;
  text-align: left;
  line-height: 50px;
  font-size: 37px;
}

.FirstLeft {
  position: relative;
}

.line {
  position: absolute;
  top: 72%;
  left: 42%;
  transform: rotate(-20deg);
}
.blink {
  font-size: 20px;
  color: #767676;
}

.descLine {
  color: #767676;
  margin: 0 !important;

  margin-bottom: 20px !important;
  text-transform: uppercase;
}

.logos {
  display: none;
}

.IBMlogoPlay {
  display: none;
}

.logosD {
  display: flex;
  justify-content: space-evenly;
}

.PlayImg {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 641px) {
  .First {
    padding: 30px 20px 30px 20px;
    display: block;
  }

  .FirstLeft p {
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 16px;
  }

  .FirstLeft .ptop {
    color: #767676;
    font-size: 18px;
    margin: 0;
    text-align: center;
    line-height: 24px;
  }

  .FirstLeft .ptopC {
    font-size: 18px;
    margin: 0px;
    text-align: center;
  }

  .FirstLeft .h1Span {
    text-align: center;
    color: #f99600;
  }

  .FirstLeft .h1 {
    color: #0072bc;
    margin: 10px 0px 20px 0px;
    font-size: 26px;
    text-align: center;
    line-height: normal;
  }

  .logos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    text-align: center;
  }
  .IBMlogo,
  .IBMlogoPlay {
    text-align: center;
    margin: 10px 0px;
  }

  .IBMlogoPlay {
    display: block;
  }

  .secondLeft {
    display: none;
  }

  .PlayImg {
    display: none;
  }

  .logosD {
    display: none;
  }

  .FirstLeft button {
    margin: auto;
    font-size: 16px;
    height: fit-content;
    margin-top: 20px;
  }
  .blink {
    line-height: 30px;
  }
  .line {
    display: none;
  }
}
