.First {
  background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/FirstSectionBg.png");
  background-size: contain;
  margin-top: 70px;
  padding: 70px 100px 70px 100px;
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 50px;
}

.FirstLeft button {
  font-size: 18px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #0072bc;
  font-weight: 700;
  color: #0072bc;
  height: 100%;
}
.fillBtn {
  font-size: 18px;
  border-radius: 4px;
  background-color: #0072bc !important;
  font-weight: 700;
  color: white !important;
  height: 100%;
}

.FirstLeft button:hover {
  background: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
}

/* .imgArrow {
    margin-top: -30px !important;
} */

.ptopC {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #767676;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  margin: 0;
}

.ptop {
  font-size: 20px;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
}

.ptopR {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.h1Span {
  color: #f99600;
}

.h1 {
  color: #0072bc;

  font-weight: 700;
  margin: 15px 0px 20px 0px;
  text-align: left;
  line-height: 50px;
  font-size: 34px;
}

.FirstLeft {
  position: relative;
}

.line {
  position: absolute;
  top: 72%;
  left: 57%;
  transform: rotate(-20deg);
}
.blink {
  font-size: 20px;
  color: #767676;
}
.animationTextWrap {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 40px;
}
.animationText {
  display: inline-block;
  width: max-content;
  font-size: 27px;
  color: #767676;

  font-weight: 600;
}
.btnImage {
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
}
.descLine {
  color: #767676;
  margin: 0 !important;

  margin-bottom: 20px !important;
  text-transform: uppercase;
}

.logos {
  display: none;
}

.IBMlogoPlay {
  display: none;
}

.logosD {
  display: flex;
  justify-content: space-evenly;
}

.PlayImg {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 641px) {
  .First {
    padding: 30px 20px 30px 20px;
    display: block;
  }

  .FirstLeft p {
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 16px;
  }
  .btnImage {
    display: flex;
    width: 100%;

    justify-content: flex-start;
    align-items: flex-start;
  }

  .FirstLeft .ptop {
    color: #767676;
    font-size: 18px;
    margin: 0;
    text-align: left;
    line-height: 24px;
  }

  .FirstLeft .ptopC {
    font-size: 16px;
    margin: 0px;
    text-align: left;
  }

  .FirstLeft .h1Span {
    text-align: center;
    color: #f99600;
  }

  .FirstLeft .h1 {
    color: #0072bc;
    margin: 10px 0px 20px 0px;
    font-size: 27px;
    text-align: left;
    line-height: 34px;
  }

  .logos {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 20px;
    text-align: left;
  }
  .IBMlogo,
  .IBMlogoPlay {
    text-align: left;
    margin: 10px 0px;
  }

  .IBMlogoPlay {
    display: none;
  }

  .secondLeft {
    display: none;
  }

  .PlayImg {
    display: none;
  }

  .logosD {
    display: none;
  }
  .animationText {
    font-size: 20px;
  }
  .FirstLeft button {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: fit-content;
    margin-top: 20px;
    padding: 15px 12px;
   
  }
  .blink {
    line-height: 30px;
  }
  .line {
    display: none;
  }
  .animationTextWrap {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}
}