

.ToolsCovered h4 {
  margin-bottom: 10px;
}
.ToolsCovered div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 481px) {
  .ToolsCovered {
    margin: 50px 0px 30px 0px;
    padding: 0px;
  }
}
