.ContactUs {
  margin: 70px 0px;
  padding: 0px;
}

.BackC {
  height: 400px;
  display: grid;
  grid-template-columns: 49% 49%;
  width: 100%;

  margin: auto;
  padding: 0px 100px;
}

.BackC div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.CInner {
  padding: 50px 100px;
}
.BackC h4 {
  text-align: left;
}

.CInner h3 {
  font-size: 34px;
}

.CInner p {
  font-size: 20px;
  text-align: center;
  padding: 0px 150px;
}

.tick {
  fill: #2a9cd7;
  color: #2a9cd7;
  border-color: #2a9cd7;
  padding: 10px;
  font-size: 70px;
  border: 3px solid #2a9cd7;
  border-radius: 50%;
}

.Inner {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}

.InnerBox {
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px;
  height: 90%;
  text-align: center;
}

.Inner h3 {
  font-size: 24px;
  margin: 10px;
  text-align: center;
}

.Inner p {
  margin: 0;
  padding: 0;
}

.InnerBox button {
  background: #2d9cd7;
  margin: auto;
  padding: 14px 26px;
  font-size: 16px;
  border-radius: 0px;
}

.InnerBox button:hover {
  color: #2d9cd7;
  background-color: #fff;
  border: 1px solid #2d9cd7;
  margin: auto;
  padding: 14px 26px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .BackC {
    height: 100%;
    text-align: left;
    padding: 100px 20px 30px 20px;
    display: block;
  }

  .BackC h4 {
    margin: 0;
  }

  .ContactUs {
    margin: 20px 0px;
  }

  .CInner {
    padding: 30px 0px;
  }

  .CInner p {
    font-size: 20px;
    text-align: center;
    padding: 0px;
  }

  .Inner {
    display: block;
    text-align: center;
  }
}
