.switch {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.head {
  padding: 10px 100px 10px 170px;
  background-color: #f4fcfe;
  display: grid;
  grid-template-columns: 20% 77%;
  gap: 60px;
  margin-top: 140px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.img {
  margin-top: 20px;
}
.head h4 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  line-height: 40px;
  text-align: left;
}

.switchInner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  width: max-content;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #2d9cd7;
  font-size: 16px;
  font-weight: 400;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(45 156 215 / 31%);
}
.btn:hover {
  background-color: #fff;
  border-color: 1px solid #2d9cd7;
  color: #2d9cd7;
}

.bIcon {
  margin-left: 10px;
}

@media (max-width: 961px){
.head {
  margin: 30px 0px;
  padding: 30px;
  gap: 10px;
}
.head h4 {
  font-size: 25px;
  line-height: 30px;
}
}

@media (max-width: 961px){
  .switch {
    gap: 0;
  }
}

@media (max-width: 600px) {
  .switch {
    display: block;
    justify-content: center;
    margin-top: 30px;
  }

  .head {
    padding: 30px 20px;
    display: block;
    margin: 20px;
    gap: 0px;
  }
  .switchInner {
    margin-bottom: 15px;
  }

  .img {
    margin: 0px;
  }
.switch span {
  display: none !important;
}
.head h4 {
  text-align: center;
  font-size: 26px;
}

}
