@media (min-width: 1281px) {
  .projectHeader {
    .headWrapper {
      display: flex;
      margin-top: 40px;
      width: 100%;
      align-items: center;
      justify-content: center;
      .left {
        display: flex;
        flex-flow: column;
        .sub {
          color: #2d9cd7;
          padding: 0;
          margin: 5px;
        }
        h3 {
          font-size: 36px;
          font-weight: 600;
          margin: 0;
          text-align: center;
          padding: 0;
        }
        .para {
          padding: 0;
          margin: 5px;
          color: rgb(89, 89, 89);
        }
      }
      .right {
        display: flex;
        gap: 35px;
        h3 {
          font-size: 30px;
          font-weight: 600;
        }
        .red {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            text-align: center;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
          }
          background-color: #ff9562;
          padding: 10px 10px;
          height: fit-content;
          border-radius: 5px;
        }
        .blue {
          display: flex;
          flex-flow: column;
          justify-content: center;
          height: fit-content;
          align-items: center;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #2d9cd7;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
          }
        }
      }
    }
    .iconWrapper {
      display: grid;
      margin-top: 20px;
      grid-template-columns: 32% 37% 32%;
      gap: 15px;
      width: max-content;

      div {
        width: max-content;
        display: flex;

        align-items: center;
        justify-content: flex-start;
        .icon {
          font-size: 35px;
          color: #000;
          padding: 5px;
          border-radius: 50%;
          // background-color: #2D9CD7;
          // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .projectNumb {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      margin-bottom: -40px;
      gap: 60px;
      .leftProjectNumb,
      .rightProjectNumb {
        display: flex;
        align-items: center;
        gap: 10px;

        h5 {
          font-size: 20px;
          margin: 0;
        }
        p {
          margin: 0;
          color: #646464;
        }
      }
      .leftProjectNumb {
        h5 {
          color: #edb552;
        }
        .lIcon {
          color: #edb552;
          font-size: 40px;
        }
      }
      .rightProjectNumb {
        h5 {
          color: #0072bc;
        }
        .rIcon {
          color: #0072bc;
          font-size: 40px;
        }
      }
    }

    .bicon {
      margin-right: 10px;
    }
    .projectSlider {
      overflow: hidden;

      padding: 70px 0px;
      height: max-content;

      .list {
        width: 100%;
        margin-top: 10px;

        .wrapper {
          position: relative;
          height: 350px;

          .sliderArrowLeft {
            width: 40px;
            padding: 10px;
            height: 40px;
            border-radius: 3px;
            background-color: #e7f4ff;
            color: #2d9cd7;
            position: absolute;
            z-index: 99;

            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 120%;
            left: 46%;
          }
          .sliderArrowRight {
            width: 40px;
            padding: 10px;
            height: 40px;
            border-radius: 3px;

            background-color: #2d9cd7;
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 120%;
            right: 46%;
          }
          .container {
            margin-left: 20px;
            display: flex;
            padding: 0px 0px;
            height: max-content;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;
            .project:nth-child(2) {
              background-color: #0072bc;
              .header {
                h5 {
                  color: white;
                  border-bottom: 3px solid white;
                  padding-bottom: 10px;
                }
              }
              .body {
                span {
                  color: white;
                  border-bottom: 2px dotted white;
                }
                p {
                  color: white;
                }
              }
            }

            .project {
              margin-top: 40px;
              width: 400px;

              margin-right: 45px;
              padding: 20px;
              height: 280px;
              background-image: url("/project-background.png");
              border-image-width: 20px;
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 15px;
              background-color: white;

              position: relative;

              .header {
                display: flex;
                flex-flow: column-reverse;

                align-items: center;
                // justify-content: space-between;
                margin: 0px 20px;
                border-radius: 15px 15px 0 0;
                padding: 10px 00px;

                p {
                  color: #2d9cd7;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                h5 {
                  color: #2d9cd7;
                  font-size: 18px;
                  font-weight: 600;
                  margin: 10px 0 0 0;
                  padding: 0;
                  padding-bottom: 10px;
                  border-bottom: 3px solid #edb552;
                }
                .icon {
                  color: #2d9cd7;
                  font-size: 45px;
                  align-self: center;
                }
              }
              .body {
                padding: 10px 50px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                span {
                  color: #0072bc;
                  text-align: center;
                  margin: auto;
                  cursor: pointer;

                  border-bottom: 2px dotted #0072bc;
                }
                h6 {
                  font-size: 16px;
                  font-weight: 600;
                  color: rgb(108, 108, 108);
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                p {
                  font-size: 14px;
                  color: rgb(115, 115, 115);
                  margin-top: 10px;
                  text-align: center;
                }
                .tool {
                  display: grid;
                  grid-template-columns: 32% 32% 32%;
                  justify-content: space-between;
                  gap: 10px;
                  align-items: center;
                  flex-wrap: wrap;
                  .lightBlue {
                    padding: 5px 15px;
                    background-color: #e8f5fc;

                    width: 80%;
                    margin-top: 10px;
                    margin-right: 15px;
                    color: #56ade1;
                    border-radius: 4px;
                  }
                  .lightOrange {
                    padding: 5px 15px;

                    width: 80%;
                    border-radius: 4px;
                    margin-top: 10px;
                    margin-right: 15px;
                    background: #fcd9df;
                    color: #f04e63;
                  }
                  .lightRed {
                    padding: 5px 15px;

                    width: 80%;
                    border-radius: 4px;
                    margin-top: 10px;
                    background: #fef8df;
                    color: #f2d95c;
                  }
                }
              }
              .projectFooter {
                padding: 10px 20px;
                .belowIcon {
                  font-size: 40px;
                  color: #2d9cd7;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .projectHeader {
    .headWrapper {
      display: flex;
      justify-content: space-between;
      .left {
        .sub {
          color: #2d9cd7;
          padding: 0;
          margin: 5px;
        }
        h3 {
          font-size: 30px;
          font-weight: 600;
          margin: 0;
          padding: 0;
        }
        .para {
          padding: 0;
          margin: 5px;
          color: rgb(89, 89, 89);
        }
      }
      .right {
        display: flex;
        gap: 35px;
        h3 {
          font-size: 30px;
          font-weight: 600;
        }
        .red {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            text-align: center;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
          }
          background-color: #2d9cd7;
          padding: 10px 10px;
          height: fit-content;
          border-radius: 5px;
        }
        .blue {
          display: flex;
          flex-flow: column;
          justify-content: center;
          height: fit-content;
          align-items: center;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #2d9cd7;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
          }
        }
      }
    }
    .iconWrapper {
      display: grid;
      margin-top: 40px;
      grid-template-columns: 32% 32% 32%;
      gap: 15px;
      margin-bottom: -45px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .icon {
          font-size: 35px;
          color: white;
          padding: 10px;
          border-radius: 50%;
          background-color: #2d9cd7;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        p {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    .projectSlider {
      overflow: hidden;

      padding: 70px 0px;
      height: max-content;

      .list {
        width: 100%;
        margin-top: 10px;

        .wrapper {
          position: relative;
          height: max-content;

          .sliderArrowLeft {
            width: 20px;
            padding: 10px;
            height: 20px;
            border-radius: 100%;
            background-color: #2d9cd7;
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 120%;
            left: 80%;
          }
          .sliderArrowRight {
            width: 20px;
            padding: 10px;
            height: 20px;
            border-radius: 100%;
            background-color: #2d9cd7;
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 120%;
            right: 10%;
          }
          .container {
            margin-left: 20px;
            display: flex;
            padding: 0px 0px;
            height: max-content;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;

            .project {
              margin-top: 40px;
              width: 350px;
              margin-right: 15px;
              padding: 0px 0px;
              height: max-content;

              border-radius: 15px;
              background-color: white;

              border: 1px solid rgba(255, 255, 255, 0.125);
              position: relative;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

              .header {
                display: flex;

                align-items: center;
                justify-content: space-between;
                background-color: #ebf1f8;
                border-radius: 15px 15px 0 0;
                padding: 10px 20px;
                border-bottom: 1px solid #2d9cd7;
                p {
                  color: #2d9cd7;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                h5 {
                  color: #2d9cd7;
                  font-size: 18px;
                  font-weight: 600;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                .icon {
                  color: #2d9cd7;
                  font-size: 45px;
                  align-self: center;
                }
              }
              .body {
                padding: 10px 20px;
                h6 {
                  font-size: 18px;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                .tool {
                  display: grid;
                  grid-template-columns: 32% 32% 32%;
                  justify-content: space-between;
                  gap: 10px;
                  align-items: center;
                  flex-wrap: wrap;
                  .lightBlue {
                    padding: 5px 15px;
                    background-color: #e8f5fc;
                    border: 1px solid #56ade1;
                    width: 80%;
                    margin-top: 10px;
                    margin-right: 15px;
                    color: #56ade1;
                    border-radius: 4px;
                  }
                  .lightOrange {
                    padding: 5px 15px;
                    border: 1px solid #f04e63;
                    width: 80%;
                    border-radius: 4px;
                    margin-top: 10px;
                    margin-right: 15px;
                    background: #fcd9df;
                    color: #f04e63;
                  }
                  .lightRed {
                    padding: 5px 15px;
                    border: 1px solid #f2d95c;
                    width: 80%;
                    border-radius: 4px;
                    margin-top: 10px;
                    background: #fef8df;
                    color: #f2d95c;
                  }
                }
              }
              .projectFooter {
                padding: 10px 20px;
                .belowIcon {
                  font-size: 40px;
                  color: #2d9cd7;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .projectHeader {
    .headWrapper {
      display: flex;
      justify-content: space-between;
      .left {
        .sub {
          color: #2d9cd7;
          padding: 0;
          margin: 0px;
          font-size: 12px;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin: 0;
          padding: 0;
        }
        .para {
          padding: 0;
          margin: 0px;
          font-size: 12px;
          color: rgb(89, 89, 89);
        }
      }
      .right {
        display: flex;
        gap: 35px;
        h3 {
          font-size: 24px;
          font-weight: 600;
        }
        .red {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            text-align: center;
            padding: 0;
          }
          p {
            color: white;
            font-size: 14px;
            text-align: center;
          }
          background-color: #2d9cd7;
          padding: 10px 10px;
          height: fit-content;
          border-radius: 5px;
        }
        .blue {
          display: flex;
          flex-flow: column;
          justify-content: center;
          height: fit-content;
          align-items: center;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #2d9cd7;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
    .iconWrapper {
      display: grid;
      margin-top: 40px;
      grid-template-columns: 32% 32% 32%;
      gap: 15px;
      margin-bottom: -45px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .icon {
          font-size: 20px;
          color: white;
          margin-right: 5px;
          padding: 10px;
          border-radius: 50%;
          background-color: #2d9cd7;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        p {
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
    .projectSlider {
      overflow: hidden;
      margin-top: -90px;
      padding: 70px 0px;
      height: max-content;

      .list {
        width: 100%;
        margin-top: 10px;

        .wrapper {
          position: relative;
          height: max-content;

          .sliderArrowLeft {
            width: 20px;
            padding: 10px;
            height: 20px;
            border-radius: 100%;
            background-color: #2d9cd7;
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;

            top: 120%;
            left: 40%;
          }
          .sliderArrowRight {
            width: 20px;
            padding: 10px;
            height: 20px;
            border-radius: 100%;
            background-color: #2d9cd7;
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 120%;
            right: 30%;
          }
          .container {
            margin-left: 20px;
            display: flex;
            padding: 0px 0px;
            height: max-content;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;

            .project {
              margin-top: 40px;
              width: 350px;
              margin-right: 15px;
              padding: 0px 0px;
              height: 320px;

              border-radius: 15px;
              background-color: white;

              border: 1px solid rgba(255, 255, 255, 0.125);
              position: relative;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

              .header {
                display: flex;

                align-items: center;
                justify-content: space-between;
                background-color: #ebf1f8;
                border-radius: 15px 15px 0 0;
                padding: 10px 20px;
                border-bottom: 1px solid #2d9cd7;
                p {
                  color: #2d9cd7;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                h5 {
                  color: #2d9cd7;
                  font-size: 18px;
                  font-weight: 600;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                .icon {
                  color: #2d9cd7;
                  font-size: 45px;
                  align-self: center;
                }
              }
              .body {
                padding: 10px 20px;
                h6 {
                  font-size: 18px;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                .tool {
                  display: grid;
                  grid-template-columns: 32% 32% 32%;
                  justify-content: space-between;
                  gap: 10px;
                  align-items: center;
                  flex-wrap: wrap;
                  .lightBlue {
                    padding: 5px 15px;
                    background-color: #e8f5fc;
                    border: 1px solid #56ade1;
                    width: 50%;
                    margin-top: 10px;
                    margin-right: 15px;
                    color: #56ade1;
                    border-radius: 4px;
                  }
                  .lightOrange {
                    padding: 5px 15px;
                    border: 1px solid #f04e63;
                    width: 50%;
                    border-radius: 4px;
                    margin-top: 10px;
                    margin-right: 15px;
                    background: #fcd9df;
                    color: #f04e63;
                  }
                  .lightRed {
                    padding: 5px 15px;
                    border: 1px solid #f2d95c;
                    width: 50%;
                    border-radius: 4px;
                    margin-top: 10px;
                    background: #fef8df;
                    color: #f2d95c;
                  }
                }
              }
              .projectFooter {
                padding: 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 481px) {
  .projectHeader {
    .headWrapper {
      display: flex;
      flex-flow: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .left {
        display: flex;
        flex-flow: column;
        .sub {
          color: #2d9cd7;
          padding: 0;
          margin: 5px;
        }
        h3 {
          font-size: 36px;
          font-weight: 600;
          margin: 0;
          text-align: center;
          padding: 0;
        }
        .para {
          padding: 0;
          margin: 5px;
          color: rgb(89, 89, 89);
        }
      }
      .right {
        display: flex;
        gap: 35px;
        h3 {
          font-size: 30px;
          font-weight: 600;
        }
        .red {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            text-align: center;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
          }
          background-color: #ff9562;
          padding: 10px 10px;
          height: fit-content;
          border-radius: 5px;
        }
        .blue {
          display: flex;
          flex-flow: column;
          justify-content: center;
          height: fit-content;
          align-items: center;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #2d9cd7;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
          }
        }
      }

      .iconWrapper {
        display: flex;
        flex-flow: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: max-content;

        div {
          width: max-content;
          display: flex;

          align-items: center;
          justify-content: flex-start;
          .icon {
            font-size: 35px;
            color: #000;
            padding: 5px;
            border-radius: 50%;
            // background-color: #2D9CD7;
            // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
          p {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      .projectNumb {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: -10px;
        gap: 10px;
        .leftProjectNumb,
        .rightProjectNumb {
          display: flex;
          align-items: center;
          gap: 10px;

          h5 {
            font-size: 20px;
            margin: 0;
          }
          p {
            margin: 0;
            color: #646464;
          }
        }
        .leftProjectNumb {
          h5 {
            font-size: 15px;
            color: #edb552;
          }
          .lIcon {
            color: #edb552;
            font-size: 40px;
          }
        }
        .rightProjectNumb {
          h5 {
            font-size: 15px;
            color: #0072bc;
          }
          .rIcon {
            color: #0072bc;
            font-size: 40px;
          }
        }
      }
      justify-content: space-between;
      .left {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 20px;
        .sub {
          color: #2d9cd7;
          padding: 0;
          margin: 0px;
          font-size: 12px;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin: 0;
          padding: 0;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        .para {
          padding: 0;
          margin: 0px;
          font-size: 12px;
          color: rgb(89, 89, 89);
        }
      }
      .right {
        display: flex;
        align-self: initial;
        gap: 35px;
        margin-bottom: 0px;
        margin-top: 30px;
        h3 {
          font-size: 24px;
          font-weight: 600;
        }
        .red {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            text-align: center;
            padding: 0;
          }
          p {
            color: white;
            font-size: 14px;
            text-align: center;
          }
          background-color: #2d9cd7;
          padding: 10px 10px;
          height: fit-content;
          border-radius: 5px;
        }
        .blue {
          display: flex;
          flex-flow: column;
          justify-content: center;
          height: fit-content;
          align-items: center;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #2d9cd7;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          h3 {
            color: white;
            margin: 0;
            padding: 0;
          }
          p {
            color: white;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
    .iconWrapper {
      display: flex;
      flex-flow: column;
      margin-top: 20px;
      align-items: baseline;
      justify-content: center;
      gap: 0px;
      margin-bottom: 0px;
      div {
        display: flex;

        .icon {
          font-size: 40px;
          color: #000;
          margin-right: 15px;
          padding: 10px;
          border-radius: 50%;
          background-color: white;
          box-shadow: none;
        }
        p {
          font-size: 16px;
          font-weight: 600;
          margin: 0px;
        }
      }
    }
    .projectSlider {
      overflow: hidden;

      padding: 70px 0px;
      height: max-content;

      .list {
        width: 100%;
        margin-top: 10px;

        .wrapper {
          position: relative;
          height: 350px;

          .sliderArrowLeft {
            width: 40px;
            padding: 10px;
            height: 40px;
            border-radius: 3px;
            background-color: #e7f4ff;
            color: #2d9cd7;
            position: absolute;
            z-index: 99;

            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 126%;
            left: 30%;
          }
          .sliderArrowRight {
            width: 40px;
            padding: 10px;
            height: 40px;
            border-radius: 3px;

            background-color: #2d9cd7;
            color: white;
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            top: 126%;
            right: 30%;
          }
          .container {
            margin-left: 20px;
            display: flex;
            padding: 0px 0px;
            height: max-content;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;
            .project:nth-child(2) {
              background-color: #0072bc;
              .header {
                h5 {
                  color: white;
                  border-bottom: 3px solid white;
                  padding-bottom: 10px;
                }
              }
              .body {
                span {
                  color: white;
                  border-bottom: 2px dotted white;
                }
                p {
                  color: white;
                }
              }
            }

            .project {
              margin-top: 40px;
              width: 280px;

              margin-right: 15px;
              padding: 20px;
              height: 320px;
              background-image: url("/project-mobile-line.png");
              border-image-width: 20px;
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 30px;
              background-color: white;

              position: relative;

              .header {
                display: flex;
                flex-flow: column-reverse;

                align-items: center;
                // justify-content: space-between;
                margin: 0px 0px;
                background-color: transparent;
                border: 0;
                border-radius: 15px 15px 0 0;
                padding: 10px 00px;

                p {
                  color: #2d9cd7;
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                h5 {
                  color: #2d9cd7;
                  font-size: 18px;
                  font-weight: 600;
                  margin: 10px 0 0 0;
                  padding: 0;
                  padding-bottom: 10px;
                  border-bottom: 3px solid #edb552;
                }
                .icon {
                  color: #2d9cd7;
                  font-size: 45px;
                  align-self: center;
                }
              }
              .body {
                padding: 10px 10px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                span {
                  color: #0072bc;
                  text-align: center;
                  margin: auto;
                  cursor: pointer;

                  border-bottom: 2px dotted #0072bc;
                }
                h6 {
                  font-size: 16px;
                  font-weight: 600;
                  color: rgb(108, 108, 108);
                  margin: 10px 0 0 0;
                  padding: 0;
                }
                p {
                  font-size: 14px;
                  color: rgb(115, 115, 115);
                  margin-top: 10px;
                  text-align: center;
                }
                .tool {
                  display: grid;
                  grid-template-columns: 32% 32% 32%;
                  justify-content: space-between;
                  gap: 10px;
                  align-items: center;
                  flex-wrap: wrap;
                  .lightBlue {
                    padding: 5px 15px;
                    background-color: #e8f5fc;

                    width: 80%;
                    margin-top: 10px;
                    margin-right: 15px;
                    color: #56ade1;
                    border-radius: 4px;
                  }
                  .lightOrange {
                    padding: 5px 15px;

                    width: 80%;
                    border-radius: 4px;
                    margin-top: 10px;
                    margin-right: 15px;
                    background: #fcd9df;
                    color: #f04e63;
                  }
                  .lightRed {
                    padding: 5px 15px;

                    width: 80%;
                    border-radius: 4px;
                    margin-top: 10px;
                    background: #fef8df;
                    color: #f2d95c;
                  }
                }
              }
              .projectFooter {
                padding: 10px 20px;
                .belowIcon {
                  font-size: 40px;
                  color: #2d9cd7;
                }
              }
            }
          }
        }
      }
    }
  }
}
