.CourseFee {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A4C3E6;
    box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
    padding: 10px;
    width: 95%;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background: url("/coursefee.png") center center, no-repeat;
    background-size: cover;
}

.CourseFeeh {
    margin: 70px 100px 70px 100px;

}

.phead {
    font-size: 30px;
    font-weight: 400;
}

.listcheck {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.list {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: black;
    margin: 0px 0px 10px 20px;
    display: flex;
}

.icon {
    font-size: 24px;
    color: #2D9CD7;
    margin-right: 5px;
}