.form {
    display: none;
  }
  
  .batch {
    text-align: center;
  }
  
  .batchBox {
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
    background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/Batch-details-full.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 550px;
  }
  
  .blue {
    background: none;
    padding: 20px;
  }
  
  .orange {
    background: none;
    padding: 20px;
  }
  
  .ptopBlue {
    color: #0072bc;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .ptopOrange {
    color: #f99600;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .pBotBA {
    color: #686868;
    font-size: 16px;
  }
  
  .pBotB {
    color: #686868;
    font-size: 16px;
    text-align: left;
    margin: 5px 0px;
  }
  
  .dateTime {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .orangeIcon {
    color: #f99600;
    font-size: 20px;
  }
  
  .blueIcon {
    color: #0072bc;
    font-size: 20px;
  }
  
  /* Mobile View Batch details */
  
  .Syllabus {
    margin: 50px 100px 50px 100px;
  }
  .mobileView {
    display: none;
  }
  .desktopView {
    display: block;
  }
  
  /* DeskTop View Batch details */
  .NewBatch {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  
  .NewBatch .iconOrange {
    color: #edb552;
    font-size: 30px;
    margin-right: 5px;
  }
  
  .NewBatch .iconBlue {
    color: #0072bc;
    font-size: 28px;
    margin-right: 5px;
  }
  
  .NewBlue,
  .NewOrange {
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
    padding: 20px 0px 20px 100px;
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
  }
  
  .NewBlue {
    border-left: 5px solid #0072bc;
  }
  
  .NewOrange {
    border-left: 5px solid #edb552;
  }
  
  .listDay {
    margin: 0;
    padding: 0;
    color: #0072bc;
    font-size: 18px;
    font-weight: 600;
  }
  
  .list {
    margin: 0;
    display: flex;
    align-items: center;
  }.form {
  display: none;
}

.batch {
  text-align: center;
}

.batchBox {
  display: flex;
  gap: 250px;
  justify-content: center;
  align-items: center;
  background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/Batch-details-full.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px;
}

.blue {
  background: none;
  padding: 20px;
}

.orange {
  background: none;
  padding: 20px;
}

.ptopBlue {
  color: #0072bc;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.ptopOrange {
  color: #f99600;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.pBotBA {
  color: #686868;
  font-size: 16px;
}

.pBotB {
  color: #686868;
  font-size: 16px;
  text-align: left;
  margin: 5px 0px;
}

.dateTime {
  display: flex;
  align-items: center;
  gap: 5px;
}

.orangeIcon {
  color: #f99600;
  font-size: 20px;
}

.blueIcon {
  color: #0072bc;
  font-size: 20px;
}

/* Mobile View Batch details */

.Syllabus {
  margin: 50px 100px 50px 100px;
}
.mobileView {
  display: none;
}
.desktopView {
  display: block;
}

/* DeskTop View Batch details */
.NewBatch {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.NewBatch .iconOrange {
  color: #edb552;
  font-size: 30px;
  margin-right: 5px;
}

.NewBatch .iconBlue {
  color: #0072bc;
  font-size: 28px;
  margin-right: 5px;
}

.NewBlue,
.NewOrange {
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  padding: 20px 0px 20px 100px;
  width: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.NewBlue {
  border-left: 5px solid #0072bc;
}

.NewOrange {
  border-left: 5px solid #edb552;
}

.listDay {
  margin: 0;
  padding: 0;
  color: #0072bc;
  font-size: 18px;
  font-weight: 600;
}

.list {
  margin: 0;
  display: flex;
  align-items: center;
}

.infop {
  color: black;
  margin: 0px 0px 20px 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}


  @media (max-width: 641px) {
    .h1 {
      color: #0072bc;
      margin: 10px 0px 20px 0px;
      font-size: 24px;
    }
    .infop {
      color: black;
      font-weight: 700;
      font-size: 24px;
      margin: 10px 0px;
    }
  
    .batch {
      text-align: center;
    }

    .Syllabus {
      margin: 50px 20px 50px 20px;
    }
  
    .batchBox {
      display: flex;
      gap: 10px;
      justify-content: center;
      padding: 20px;
      height: fit-content;
      background: none;
    }
  
    .blue {
      background: #e1f1f580;
      padding: 20px;
    }
  
    .orange {
      background: #f996001a;
      padding: 20px;
    }
  
    .ptopBlue {
      color: #0072bc;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
  
    .ptopOrange {
      color: #f99600;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
  
    .pBotBA {
      color: #686868;
      font-size: 13px;
    }
  
    .pBotB {
      color: #686868;
      font-size: 13px;
      text-align: left;
      margin: 5px 0px;
    }
  
    .dateTime {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    .orangeIcon {
      color: #f99600;
      font-size: 20px;
    }
  
    .blueIcon {
      color: #0072bc;
      font-size: 20px;
    }
  
    .form {
      background: #fff;
      margin: 20px;
      padding: 20px 0px;
      border-top: 6px solid #0072bc;
      border-bottom: 12px solid #f99600;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      text-align: center;
    }
  
    .Section1 h1 {
      font-size: 24px;
      padding: 20px;
      margin: 40px 0px 0px 0px;
      font-weight: 800;
    }
    .Testimonial {
      padding: 0px;
    }
    .slide {
      height: fit-content;
    }
    .mainSlider {
      padding: 20px;
      height: 350px;
      margin: 10px 5px 40px 5px;
      text-align: left;
    }
    .blue {
      background: #e1f1f580;
      padding: 20px;
    }
  
    .orange {
      background: #f996001a;
      padding: 20px;
    }
  
    .button {
      margin-top: 30px;
    }
    .points {
      display: grid;
      gap: 10px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 481px) {
    .mobileView {
      display: block;
    }
    .desktopView {
      display: none;
    }
    .CourseFeeh {
      margin: 40px 0px 30px 0px;
    }
  
    .BatchDetailsTop {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
  
      margin-top: 20px;
      gap: 10px;
    }
    .list {
      margin: 0px 0px 10px 10px;
      font-size: 16px;
    }
    .phead {
      font-size: 30px;
      font-weight: 400;
      margin: 10px;
    }
    .CourseFee {
      padding: 30px 10px;
      margin: 20px;
      width: auto;
    }
    .listcheck {
      justify-content: flex-start;
    }
  
    .NewBlue,
    .NewOrange {
      padding: 20px;
      width: 100%;
      border-radius: 10px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    .listDay {
      margin: 0;
      padding: 0;
      color: #0072bc;
      font-size: 16px;
      font-weight: 600;
    }
  
    .NewBatch .iconOrange {
      color: #edb552;
      font-size: 26px;
      margin-right: 5px;
    }
  
    .NewBatch .iconBlue {
      color: #0072bc;
      font-size: 26px;
      margin-right: 5px;
    }

    .listMobile {
      display: flex;
    }
  }