.Testimonial {
  padding: 50px 100px 70px 100px;
}

.slide {
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 40px;
  height: max-content;
}

.mainSlider {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 40px 0px;
  height: 350px;
}

.para {
  font-size: 17px;
  margin: 10px 0;
  color: black;
  display: flex;
  flex-flow: column;
  line-height: 26px;
}
.para span {
  color: #0072bc;
  cursor: pointer;
  border-bottom: 1px dotted #0072bc;
  margin-top: 10px;
  width: max-content;
}

.name {
  margin-top: 60px;
  gap: 10px;
  display: grid;
}

/* .nameHike p {
  color: #2db621;
  margin: 0;
} */

.nameHike p {
  color: #2db621;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.name h3 {
  margin: 0;
  font-size: 18px;
}

/* .name p {
  margin: 0;
  font-size: 16px;
  color: #0072bc;
} */

.name p {
  margin: 0;
  font-size: 16px;
  font-weight: 500 !important;

  color: #0072bc;
}

.paraDiv {
  border-radius: 15px;
  padding: 0px 20px 0px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imgP {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.testimonial {
  position: relative;
}

.line {
 display: none;
}

.imgHike {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  align-items: center;
  padding: 0px 20px 0px 20px;
  margin-top: 30px;
}

.h1 {
  color: #0072bc;
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 641px) {
  .h1 {
    color: #0072bc;
    margin: 10px 0px 20px 0px;
    font-size: 24px;
  }

  .testimonial {
    margin-top: 0px;
  }

  .Testimonial {
    padding: 0px 20px 30px 20px;
  }
  .slide {
    height: fit-content;
  }
  .mainSlider {
    padding: 0px;
    height: fit-content;
    margin: 50px 5px 40px 5px;
    height: 380px;
  }

  .line {
    left: 72%;
    top: 0;
  }
}
