.Certifcate {
  display: grid;
  align-items: center;
  grid-template-columns: 49% 49%;
  margin: 70px 100px 70px 100px;
}

.left span {
  color: #fff;
  padding: 8px 15px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  background-color: #6294d6;
}

.pBotC {
  font-size: 16px;
  line-height: 24px;
}

.pBotCa {
  font-size: 16px;
  line-height: 22px;
}
.Certifcate .right {
  width: 100%;
  margin-left: 50px;
  margin-bottom: -5px;
}

.right img {
  border-radius: 0px 6px 6px 0px;
}
@media (max-width: 1281px) {
  .Certifcate {
    display: grid;
    align-items: center;
    grid-template-columns: 49% 49%;
    margin: 70px 40px 70px 40px;
  }
}
@media (max-width: 481px) {
  .Certifcate {
    display: block;
    align-items: center;
    grid-template-columns: auto;
    margin: 30px 0px 0px 0px;
    background-color: #eaf4fe;
    padding: 20px;
    border-radius: 15px;
  }
  .btnWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Certifcate .right {
    margin-left: 0;
  }

  .left {
    padding: 0px 0px 30px 0px;
  }
  .right img {
    border-radius: 6px;
  }
}
