.Course {
  margin-top: 70px;
  padding: 0px 100px;
  margin-bottom: 70px;
}
.Course h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}
.pTop {
  text-align: center;
  margin: 0;
  color: #646464;
}
.feature {
  display: flex;
  justify-content: space-evenly;
}

.feature p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0px 5px;
}
.tick {
  font-size: 20px;
  color: #2d9cd7;
}
.courses {
  background: #ffffff;

  margin-top: 30px;
}

.listPanel {
  display: flex;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(237, 181, 82, 0.3);
  border-radius: 16px;
  justify-content: space-evenly;
}
.listPanel span {
  padding: 20px;
  width: max-content;
  font-weight: 600;
  cursor: pointer;
  background-color: #e5f3fa;
  justify-content: start;
}

.gridPanel {
  display: grid;
  grid-template-columns: 49% 49%;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 140px;
  padding: 0px 60px;
}
.gridPanel .left {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.gridPanel .left h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 38px;
  margin: 0;

  color: #000000;
}
.img {
  margin-bottom: 30px;
}
.para p {
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
}
.gridPanel .left h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-top: -10px;
  color: #2979ad;
}
.gridPanel .left h6 .gridPanel .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.info h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  margin: 0;
  text-align: left;
  color: #2979ad;
}

.info .left {
  border-right: 1px solid grey;
  padding-right: 20px;
}
.info .left,
.info .middle {
  padding-right: 30px;
}
.info .middle {
  padding-left: 30px;
}
.info .middle h4 {
  color: #edb552;
}
.info p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  color: #6c6c6c;
}
@media (max-width: 481px) {
  .Course {
    padding: 0 10px;
    margin-top: -50px;
  }
  .Course h2 {
    font-size: 24px;
  }
  .feature {
    flex-flow: column;
    align-items: flex-start;
    line-height: 1.9em;
  }
  .courses {
    padding: 0px;
    box-shadow: none;
  }
  .gridPanel {
    gap: 0px;
  }
  .listPanel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    box-shadow: rgba(129, 217, 255, 0.612) 0px 7px 29px 0px;
  }
  .listPanel span {
    font-size: 14px;
    width: 100%;
    padding: 15px 10px;
  }
  .gridPanel {
    grid-template-columns: 85% 85% 85% 85% 85% 85% 85%;
    overflow-x: scroll;
  }
  .leftSide,
  .middleSide,
  .rightSide {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
  }
  .courseImg {
    width: 100%;
  }
  .leftSide h6,
  .middleSide h6,
  .rightSide h6 {
    margin-right: 0;
  }
  .checkCircle {
    margin-right: 5px;
  }
}
