.First {
  margin-top: 70px;
  padding: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url("/Banner-image-desktop-version.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.First h1 {
  font-size: 35px;
  font-weight: 700;
}

.First h1 > span {
  font-size: 35px;
}

.First span {
  font-size: 18px;
  color: #2d9cd7;
}

.FirstP {
  font-weight: 700;
  border-left: 5px solid #12054d;
  padding-left: 10px;
  color: #12054d;
  font-size: 22px;
}
.btnWrapper {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.btnWrapper button {
  display: flex;
  justify-content: space-between;
}
.outLineBtn {
  background-color: white;
  color: #12054d;
  border: 1px solid #12054d;
  padding: 14px 28px;
  font-size: 16px;
}
.btn {
  background-color: #12054d;
  padding: 14px 28px;
  font-size: 16px;
}

@media (min-width: 	1280px) {
  .First {
    margin-top: 70px;
  
    padding: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
  
    background-image: url("/Banner-image-desktop-version.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .First h1 > span {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .First {
    padding: 20px;
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-flow: column;
    height: 94vh;
    background-image: url("/mobile-version.png");
    background-size: contain;
  }
  .First h1 {
    font-size: 24px;
  }
  .First h1 > span {
    font-size: 22px;
  }

  .btnWrapper {
    display: flex;
    margin-top: 20px;
    gap: 15px;
  }
  .FirstP {
    font-size: 18px;
  }
}
