.First {
  padding: 100px;
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: white;
}

.leftSide {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding-top: 50px;
}
.First h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #000;
  margin: 0;
  line-height: 54px;
}

.First span {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  color: #edb552;
}
.First h1 span {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  padding-bottom: 35px;
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/Vector-5-line.svg");
  background-position: 0 3.7rem;
  background-repeat: no-repeat;
  color: #0072bc;
}

.pTop {
  font-style: normal;
  font-weight: 400;
  margin-top: 45px;
  font-size: 20px;
  line-height: 27px;

  color: #4a4a4a;
}
.FirstP {
  color: #0072bc;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  line-height: 25px;
}
.btnWrapper {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.btnWrapper button {
  display: flex;
  justify-content: space-between;
}
.outLineBtn {
  background-color: white;
  color: #0072bc;
  border: 2px solid #0072bc;

  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
}
.outLineBtn:hover {
  border: 2px solid #edb552;
  color: #edb552;
}
.btn {
  background-color: #0072bc;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
}
.btn:hover {
  background-color: #edb552;
  border: 0;
}
.rightSide {
  display: flex;
  align-items: flex-end;
  margin-right: -30px;
  padding-top: 50px;
}
.info {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 40px;
}
.info h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  margin: 0;
  text-align: center;
  color: #0072bc;
}

.left,
.middle {
  border-right: 1px solid grey;
  padding-right: 20px;
}
.left,
.middle,
.right {
  padding-right: 30px;
}
.middle,
.right {
  padding-left: 30px;
}
.middle h5 {
  color: #edb552;
}
.info p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  color: #6c6c6c;
}
.rightSide {
  display: flex;
  align-items: center;
}
@media (min-width: 1280px) {
  .First {
    padding: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 600px) {
  .First {
    padding: 20px;

    display: flex;
    flex-flow: column;
    height: 100vh;
  }
  .First h1 {
    font-size: 20px;
  }
  .rightSide {
    margin-right: 0;
  }
  .btnWrapper {
    display: flex;
    margin-top: 20px;
    gap: 15px;
  }
}

@media (max-width: 961px) {
  .First h1 {
    font-size: 30px;
    line-height: 40px;
  }
.First {
  padding: 50px 30px;
  gap: 10px;
}
.First h1 span {
  font-size: 35px;
}
.pTop {
  font-size: 18px;
}
.btnWrapper {
  margin-top: 10px;
}
.info {
  margin-top: 30px;
}
}

.info p {
  line-height: 20px;
}

@media (max-width: 481px) {
  .First {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    height: fit-content;
    padding: 20px;
  }
  .First h1 {
    font-size: 25px;
    line-height: 37px;
  }
  .First h1 span {
    font-size: 27px;
    line-height: 37px;
    background-position: 0 2.5rem;
  }
  .leftSide {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  .left,
.middle,
.right {
  padding-right: 10px;
}
.middle,
.right {
  padding-left: 10px;
}
.info {
  gap: 0;
}
.rightSide {
  padding-top: 20px;
}
.outLineBtn {
  font-size: 16px;
  padding: 14px 20px;
}
.btn {
  font-size: 16px;
  padding: 14px 20px;
}
.info h5 {
font-size: 24px;
line-height: 34px;
}
}

@media (max-width: 380px) {
  .outLineBtn, .btn {
    font-size: 14px;
  }
  .info h5 {
    font-size: 22px;
    }
}
