.Certifcate {
  display: grid;
  align-items: center;
  grid-template-columns: 49% 49%;
  margin: 70px 0px 70px 0px;
}

.left {
  box-shadow: 0px 0px 10px 0px rgb(45 156 215 / 31%);
  margin: 0px 10px 0px 10px;
  padding: 80px 50px 80px 50px;
}

.left h4 {
  font-size: 26px;
}

.left span {
  color: #fff;
  padding: 8px 15px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  background-color: #6294d6;
}

.pBotC {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: flex;

}

.pBotCa {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}
.Certifcate .right {
  margin: 20px;
}

.right img {
  border-radius: 0px 6px 6px 0px;
}
@media (max-width: 481px) {
  .Certifcate {
    display: block;
    align-items: center;
    grid-template-columns: auto;
    margin: 30px 0px 0px 0px;
    background-color: #eaf4fe;
    padding: 20px;
    border-radius: 15px;
  }
  .btnWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Certifcate .right {
    margin-left: 0;
  }

  .left {
    padding: 0px 0px 30px 0px;
  }
  .right img {
    border-radius: 6px;
  }
}
