.Back {
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  grid-template-columns: 52% 48%;
  align-items: center;
  margin: auto;
  padding: 0px 100px 0px 300px;
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/About-Us-Header-Bg.webp");
  background-position: center;
}

.about {
  margin: 70px 0px;

  padding: 0px;
}

.MVDiv {
  padding: 100px 100px 50px 100px;
}

.orangeQuote {
  color: rgba(249, 150, 0, 0.10);;
  font-size: 50px;
}

.about h4 {
  font-size: 32px;
  font-weight: 800;
  color: #0072BC;
}
.about h4 .spanOrange {
  color: #F99600;
  padding: 5px;
}

.about h4 .spanAuth {
  color: #444;
  padding: 5px;
  font-size: 24px;
  font-weight: 400;
}

.divList p {
  margin: 0px;
}

.FirstDiv {
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: center;
  margin-top: 70px;
  align-items: center;
}

.CDDiv {
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: left;
  margin-top: 30px;
  align-items: center;
}

.MiddleDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin-top: 30px;
  align-items: center;
}

.CDMDiv {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: left;
  margin-top: 30px;
  align-items: center;
}

.CDText {
  padding: 70px;
}

.CDText h3 {
  font-size: 30px;
  margin: 0;
}

.PBot {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.CDImg {
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/mission.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;

  background-position: center;
}

.MiddleImg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;

  background-position: center;
}

.CDMImg {
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/vision.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  background-position: center;
}

.FirstText {
  padding: 50px;
  padding-top: 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #0072BC08;
  border: 1px solid #00000020;
}

.FirstTextTop {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  padding: 20px 70px 20px 20px;
  gap: 20px;
  background: rgba(217, 217, 217, 0.20);
}

.FirstText h3 {
  font-size: 30px;
  color: #000;
}

.FirstText h3 {
  font-size: 30px;
  color: #000;
}

.DivIcon {
  display: flex;
  margin-top: 30px;
}

.BoxIconuser {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #0072bc;
  border-radius: 10px;
}

.BoxIconcompress {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #edb552;
  border-radius: 10px;
}

.BoxIconclone {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #edb552;
  border-radius: 10px;
}

.BoxIconcard {
  color: #0072bc;
  font-size: 40px;
  border-radius: 10px;
}

.iconBox p {
  margin: 5px;
}

.OurJourney {
  text-align: center;
  padding: 0px 100px;
}

.Placement {
  text-align: center;
  padding: 70px 100px;
}

.OurJourneyDiv {
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
}

.OurPlacementDiv {
  padding: 30px 50px;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
}

.iconBoxP {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 30px;
  text-align: center;
}

.BoxIcon {
  background-color: #2d97d7;
  color: #fff;
  font-size: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.list {
  font-size: 18px;
  font-weight: 500;
}

.textStyle {
  font-size: 24px;
  color: #2d97d7;
}

.iconBoxInner {
  padding: 30px;
  margin: 10px;
}

.iconBoxInner:nth-child(even) {
  background: #F996001A;
}

.iconBoxInner:nth-child(odd) {
  background: #0072BC1A;
}

.iconBoxInner:nth-child(even) .textStyle {
  color: #F99600;
  font-size: 40px;
  font-weight: 800;
}

.iconBoxInner:nth-child(odd) .textStyle {
  font-size: 40px;
  font-weight: 800;
  color: #0072BC;
}

.OurJourney h3 {
  font-size: 30px;
  margin: 0;
}

.Placement h3 {
  font-size: 30px;
  margin: 0;
}

.Team {
  padding: 0px 100px;
  text-align: center;
}

.Team h3 {
  font-size: 30px;
  margin: 0;
}

.TeamM {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 50px;
}

.leftSide {
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  padding: 20px;
  margin: 10px;
}

.TeamImg {
  width: 150px;
  margin-bottom: 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.para {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

.FirstTextTop h3 {
  font-size: 18px;
  color: #0072bc;
  text-align: left;
  margin: 0;
}

.list {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.listt {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.FirstTextTop .list {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.MainDiv {
  padding: 0px 100px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 70px;
    margin-right: -70px;
}

.FirstDivMain {
  display: grid;
  grid-template-columns: 22% 90%;
  direction: rtl;
  width: 45%;
  align-items: center;
  margin: auto;
  gap: 20px;
  flex-direction: row-reverse;
}

.FirstImg {
  position: relative;
  left: -70px;
}

.FirstDivMain span {
  border-radius: 20px;
}

.DesSpan {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.iconLink {
  color: #0072bc;
  font-size: 28px;
}

.iconHead {
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.FirstTextHead h3 {
  font-size: 30px;
  color: #000;
  text-align: center;
}

.flexIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -42px;
  position: relative;
  background: linear-gradient(180deg, rgba(255,255,255,50) 50%, rgba(0, 114, 188, 0) 60%);
  padding: 0px 10px;
}

.iconOrange {
  font-size: 80px;
  color: #F99600;
}

.flexIcon h3 {
  margin: 0;
  color: #3C3C3C;
}

@media (max-width: 1281px) {
  .list {
    font-size: 17px;
  }
}

@media (max-width: 1025px) {
  .Back {
    padding: 0px 20px;
  }
  .MVDiv {
    padding: 0px 20px;
    }
    .MainDiv {
      padding: 0px 20px;
    }
    .Placement {
      padding: 30px 0px;
    }
}

@media (max-width: 641px) {
  .Back {
    height: 100%;
    text-align: left;
    padding: 100px 20px 30px 20px;
    display: block;
  }

  .about {
    margin: 20px 0px;
  }

  .about h4 {
    font-size: 24px;
    text-align: left;
    padding: 0;
  }

  .FirstDiv {
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
    margin-top: 50px;
    align-items: center;
  }

  .OurJourney {
    padding: 20px;
  }

  .OurJourneyDiv {
    padding: 10px;
  }

  .MiddleDiv {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    gap: 50px;
  }

  .flexIcon {
    margin-top: -60px;
  }

  .list {
  margin-top: 20px;
  }

  .MiddleImg {
    /* height: 350px; */
    width: 100%;
  }

  .FirstText {
    padding: 20px;
  }

  .MVDiv {
    padding: 20px;
  }

  .Placement {
    padding: 20px;
    margin-top: -60px;
  }
  .Placement h3 {
    font-size: 24px;
  }
  .iconBoxP {
    display: block;
  }
  .OurPlacementDiv {
    padding: 10px;
  }
  .CDDiv {
    display: block;
    margin: 0;
  }
  .CDImg {
    height: 350px;
  }
  .CDText {
    padding: 30px 0px;
  }
  .FirstText h3 {
    font-size: 24px;
  }
  .OurJourney h3 {
    font-size: 24px;
  }
  .MainDiv {
    padding: 20px;
    display: block;
    gap: 50px;
    margin: 0;
  }
  .FirstDivMain {
    display: block;
    width: 100%;
    direction: inherit;
    position: relative;
  }
  .FirstImg {
    left: 0;
    z-index: 1;
  }
  .FirstTextTop {
    position: relative;
    top: -80px;
    padding: 90px 10px 20px 10px;
  }
  .right {
    display: none;
  }
  .DivIcon {
    display: block;
  }
}
