.boxWrapper {
  margin-top: 50px;
  margin-bottom: 30px;
  margin: 0px 100px;
}
.boxWrapper h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.BoxDiv {
  display: grid;
  grid-template-columns: 55% 45%;
}
.left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 110%;
  padding-top: 70px;
}
.box {
  margin-top: 0px;
  width: 49%;
  margin-right: 5px;
}
.box h5 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}
.box p {
  font-size: 16px;
  color: #54595f;
  padding-right: 80px;
}
.ImgB {
  background-color: #ebf4ff;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.ImgC {
  background-color: #ebf4ff;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.imgBack {
  background-position: center center;
  background-size: contain;
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.formWrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  padding: 10px 10px 40px 10px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: rgba(13, 74, 155, 0.15) 0px 10px 50px;
  border-radius: 12px;
}
.formWrapper h5 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 10px;
}
.formWrapper h5 span {
  color: #0d4a9b;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 481px) {
  .boxWrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin: 50px 0px 50px 0px;
  }
  .boxWrapper h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .BoxDiv {
    display: block;
    grid-template-columns: auto;
  }
  .left {
    display: grid;
    grid-template-columns: 49% 49%;
    margin: 0px;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0px;
  }
  .box h5 {
    font-size: 16px;
  }
  .box {
    margin-top: 30px;
    width: 100%;
    margin-right: 0px;
    display: flex;
    flex-flow: column;
  }
  .box p {
    font-size: 14px;
    padding-right: 0px;
  }
  .imgBack {
    width: 100%;
    margin-bottom: 10px;
  }

  .ImgB {
    background-color: #ebf4ff;
    width: 30%;
    border-radius: 50%;
    padding: 10px;
  }
  .ImgC {
    background-color: #ebf4ff;
    width: 30%;
    border-radius: 50%;
    padding: 10px;
  }
}
