.certificate {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 49% 49%;
}
.certificateS {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 100%;
}
.header {
  padding: 30px 150px;
  display: flex;
  gap: 40px;
  width: 100%;
}
.pWrap {
  display: flex;
  gap: 20px;
  padding: 8px 10px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}
.line {
  margin: 0;
  padding: 0;

  border-left: 1px solid #0072bc;
  height: 100%;
}
.header p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 8px 10px;

  cursor: pointer;
}
.activeP {
  background-color: #d3f0ff;
  color: #0072bc;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 4px;
}
.MicroCert {
  display: grid;
  grid-template-columns: 48% 49%;
  width: 100%;
  height: 100%;
  padding: 20px 70px 100px 70px;
  align-items: center;
  justify-content: space-between;
}
.rightSide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}
.rightSide h6 {
  margin-top: 0 !important;
  font-size: 27px !important;
  line-height: 40px !important;
  margin-bottom: 10px !important;
}
.certificate h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.feature {
  display: flex;
  justify-content: space-evenly;
}

.feature p {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  font-size: 18px;
}

.leftSideI {
  margin: 20px;
}

.tick {
  font-size: 20px;
  color: #2d9cd7;
}

.certificates {
  box-shadow: rgba(133, 222, 255, 0.634) 0px 3px 8px;
  margin-top: 30px;
  padding: 40px;
}

.listPanel {
  display: flex;
  justify-content: left;
}

.listPanel span {
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 20%;
  background-color: #e5f3fa;
}

.gridPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px;
}

.leftSide,
.middleSide,
.rightSide {
  display: flex;
}

.leftSideP {
  padding: 20px 50px 50px 50px;
  width: 100%;
  border-radius: 8px;
  margin: 20px;
}

.certificateImg {
  width: 397px;
  height: 150px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -0px;
  border-radius: 8px;
}

.leftSide h6,
.middleSide h6,
.rightSide h6 {
  color: #0072bc;
  margin: 0;

  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.contentDiv {
  padding-left: 20px;
}
.leftSide p,
.middleSide p,
.rightSide p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.checkCircle {
  margin-right: 15px;
  font-size: 24px;
  color: #2d9cd7;
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.btnWrapper button {
  padding: 10px 15px;
}
@media (max-width: 1281px) {
  .certificate {
    padding: 0px 40px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 49%;
  }
}

@media (max-width: 1025px) {
  .leftSideP {
    padding: 0px 10px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .certificate {
    padding: 0px 14px;
    margin-top: 30px;
  }
  .leftSideP {
    padding: 0px;
    margin: 5px;
  }
}

@media (max-width: 481px) {
  .certificate {
    padding: 0 20px;
    display: block;
    margin: 20px 0px;
  }

  .certificate h2 {
    font-size: 21px;
  }

  .feature {
    flex-flow: column;
    align-items: flex-start;
    line-height: 1.9em;
  }
  .header {
    padding: 30px 20px 0px 20px;
    display: flex;
    gap: 40px;
    width: 100%;
  }
  .certificates {
    padding: 0px;
    box-shadow: none;
  }
  .pWrap {
    display: grid;
    grid-template-columns: 45% 2% 49%;
    gap: 5px;
    width: 100%;
  }
  .line {
    width: 1px;
  }
  .certificateS {
    padding: 20px;
    margin-bottom: 30px;
  }
  .MicroCert {
    display: flex;
    flex-flow: column;
    padding: 20px;
    box-shadow: rgba(133, 222, 255, 0.634) 0px 3px 8px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0px 10px 0px;
  }
  .rightSide p {
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .rightSide h6 {
    font-size: 18px !important;
    line-height: 24px !important;
    margin-bottom: 0 !important;
  }
  .header p {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    padding: 5px 8px;
  }
  .activeP {
    font-size: 14px !important;
  }
  .listPanel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    flex-wrap: wrap;
    box-shadow: rgba(129, 217, 255, 0.612) 0px 7px 29px 0px;
    width: 80%;
  }

  .listPanel span {
    font-size: 14px;
    width: 100%;
    padding: 15px 10px;
  }

  .gridPanel {
    width: 100%;
  }

  .leftSide,
  .middleSide,
  .rightSide {
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }

  .leftSideI {
    margin: 20px 0px 20px 0px;
  }

  .certificateImg {
    width: 305px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -0px;
  }

  .leftSideP {
    box-shadow: rgba(133, 222, 255, 0.634) 0px 3px 8px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0px 10px 0px;
  }

  .leftSide h6,
  .middleSide h6,
  .rightSide h6 {
    margin: 0;
  }

  .checkCircle {
    margin-right: 5px;
  }

  .leftSide p,
  .middleSide p,
  .rightSide p {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .contentDiv {
    padding-left: 0px;
  }
}
