.infop {
  color: #0072bc;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0px;
  text-align: center;
}

.sliderTop {
    margin: 50px 0px 100px 0px; 
    padding: 20px 100px;
    background: linear-gradient(90deg, rgba(237, 233, 233, 0) 0%, rgba(235, 235, 235, 0.6) 52.6%, rgba(239, 239, 239, 0) 100%);
box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);

}

.toolscoverd {
  padding: 50px 0px 0px 0px;
}

.certificate {
    padding: 0px 40px 50px 40px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 49%;
  }

  .gridPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
  }

  .leftSide,
.middleSide,
.rightSide {
  display: flex;
}

.leftSide h6,
.middleSide h6,
.rightSide h6 {
  color: #0072bc;
  margin: 0;

  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.leftSide p,
.middleSide p,
.rightSide p {
  display: grid;
  grid-template-columns: 7% 93%;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.leftSideP {
    padding: 0px 50px;
    width: 100%;
    border-radius: 8px;
    margin: 20px;
  }

  .contentDiv {
    padding: 30px 0px 0px 0px;
  }

  .checkCircle {
    margin-right: 15px;
    font-size: 20px;
    color: #2DB621;
  }

  .fee {
    display: none;
  }

  .wrap {
    display: flex;
    justify-content:space-evenly;
    padding: 0px 100px 30px 100px;
    align-items: center;
  }
  
  .feeWrapper .left h6 {
    font-size: 30px;
    background-color: #0072BC;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
  }
  
  .feeWrapper .left {
    background-color: #f0f8fa;
  }
  
  .feeWrapper .right {
    background-color: #f0f8fa;
    border-left: 1px solid grey;
  }
  .feeWrapper .right h6 {
    font-size: 30px;
    background-color: #0072BC;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
  }
  .feeWrapper .right p {
    font-size: 16px;
    text-align: center;
    padding: 0 40px;
  }
  .feeWrapper .right .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feeWrapper .right .bottom div {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .feeWrapper .right .bottomS h5 {
    margin: 0;
    text-align: center;
    font-size: 28px;
    color: #0072BC;
    margin-bottom: 15px;
  }
  .feeWrapper .right .bottomS button {
    margin: auto;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    width: max-content;
  }
  .feeWrapper .right .bottom p {
    margin: 0;
    padding: 0px;
    font-weight: 700;
  }
  .feeWrapper .right .bottom .lefts .icon {
    color: #0072BC;
    font-size: 30px;
  }
  .feeWrapper .right .bottom .center .icon {
    color: #0072BC;
    font-size: 30px;
  }
  .feeWrapper .right .bottom .rights .icon {
    color: #0072BC;
    font-size: 30px;
  }
  .bottomp {
    display: flex;
    justify-content: space-evenly;
  }
  .feeWrapper .left p {
    color: black;
    font-size: 16px;
  }
  
  @media (min-width: 1281px) {
    .header {
      display: flex;
      flex-flow: column;
      padding: 0px 100px;
      align-items: center;
      margin-top: 50px;
      text-align: center;
    }
    .header h5 {
      font-size: 36px;
      font-weight: 800;
      text-align: center;
      margin: 0;
    }
    .wrap {
      display: flex;
      justify-content:space-evenly;
      padding: 0px 100px 30px 100px;
      align-items: center;
    }
    .feeWrapper {
      display: grid;
      grid-template-columns: 50% 50%;
  
      width: 70%;
      background: #ffffff;
  
      border-radius: 20px;
    }
    .feeWrapper .left {
      background-color: #f0f8fa;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .feeWrapper .left h6 {
      font-size: 30px;
      background-color: #0072BC;
      width: 100%;
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 20px 0px;
    }
    .feeWrapper .left p {
      color: black;
      font-size: 16px;
    }
    .feeWrapper .left .bottom {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .left .bottom h5 {
      font-size: 28px;
      font-weight: 800;
      color: #edb552;
      margin: 0;
      text-align: center;
    }
    .feeWrapper .left .bottom button {
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: #edb552;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      width: max-content;
    }
    .feeWrapper .right {
      border-left: 1px solid grey;
    background-color: #f0f8fa;
  
    }
    .feeWrapper .right p {
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .right .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .feeWrapper .right .bottom div {
      display: flex;
      width: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    .feeWrapper .right .bottomS h5 {
      margin: 0;
      text-align: center;
      font-size: 28px;
      color: #0072BC;
      margin-bottom: 15px;
    }
    .feeWrapper .right .bottomS button {
      margin: auto;
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      width: max-content;
    }
    .feeWrapper .right .bottom p {
      margin: 0;
      padding: 0px;
      font-weight: 700;
    }
    .feeWrapper .right .bottom .lefts .icon {
      color: #0072BC;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .center .icon {
      color: #0072BC;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .rights .icon {
      color: #0072BC;
      font-size: 30px;
    }
  }
  @media (max-width: 1280px) {
    .header {
      display: flex;
      flex-flow: column;
      padding: 30px 40px;
      align-items: center;
      margin-top: 50px;
    }
    .header h5 {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }
    .header p {
      text-align: center;
    }
    .wrap {
      display: flex;
      width: 100;
      justify-content: center;
      padding: 30px 40px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      align-items: center;
    }
    .feeWrapper {
      display: grid;
      grid-template-columns: 50% 50%;
  
      width: 90%;
      background: #ffffff;
  
      border-radius: 20px;
    }
    .feeWrapper .left {
      background-color: white;
      padding: 20px 40px;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .feeWrapper .left h6 {
      color: #edb552;
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
    .feeWrapper .left p {
      color: black;
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .left .bottom {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .left .bottom h5 {
      font-size: 28px;
      font-weight: 800;
      color: #edb552;
      margin: 0;
      text-align: center;
    }
    .feeWrapper .left .bottom button {
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: #edb552;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      width: max-content;
    }
    .feeWrapper .right {
      padding: 20px 40px;
  
      border-radius: 0 4px 4px 0;
    }
    .feeWrapper .right h6 {
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
    .feeWrapper .right p {
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .right .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .feeWrapper .right .bottom div {
      display: flex;
      width: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .right .bottomS h5 {
      margin: 0;
      text-align: center;
      font-size: 28px;
      color: #0072BC;
    }
    .feeWrapper .right .bottomS button {
      margin: auto;
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      width: max-content;
    }
    .feeWrapper .right .bottom p {
      font-weight: bold;
      margin: 0;
      padding: 20px;
    }
    .feeWrapper .right .bottom .lefts .icon {
      color: #0072BC;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .center .icon {
      color: #0072BC;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .rights .icon {
      color: #0072BC;
      font-size: 30px;
    }
  }
  @media (max-width: 1025px) {
    .feeWrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 50px;
    }
    .feeWrapper .left {
      background-color: #0072BC;
      padding: 20px 40px;
    }
    .feeWrapper .left h6 {
      color: white;
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
    .feeWrapper .left p {
      color: white;
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .left .bottom {
      margin-top: 40%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .left .bottom h5 {
      font-size: 28px;
      font-weight: 800;
      color: white;
      margin: 0;
      text-align: center;
    }
    .feeWrapper .left .bottom .button {
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 80%;
      cursor: pointer;
      border: 0;
      background-color: white;
      color: black;
      padding: 10px 20px;
      border-radius: 4px;
    }
    .feeWrapper .right {
      padding: 20px 40px;
  
      border-radius: 0 4px 4px 0;
    }
    .feeWrapper .right h6 {
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
    .feeWrapper .right p {
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .right .bottom {
      margin-top: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .feeWrapper .right .bottom div {
      display: flex;
      width: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .right .bottom p {
      font-weight: bold;
      margin: 0;
      padding: 20px;
    }
    .feeWrapper .right .bottom .lefts .icon {
      color: #f2b66e;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .center .icon {
      color: #f26275;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .rights .icon {
      color: #5cb0e2;
      font-size: 30px;
    }
  }
  @media (max-width: 600px) {
    .header {
      margin: 0px 20px;
    }
    .feeWrapper {
      display: flex;
      flex-flow: column;
    }
    .feeWrapper .left {
      background-color: #0072BC;
      padding: 20px 20px;
    }
    .feeWrapper .left h6 {
      color: white;
      font-size: 24px;
      text-align: center;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
    .feeWrapper .left p {
      color: white;
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .left .bottom {
      margin-top: 0;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .left .bottom h5 {
      font-size: 28px;
      font-weight: 800;
      color: white;
      margin: 0;
      text-align: center;
    }
    .feeWrapper .left .bottom .button {
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      background-color: white;
      color: black;
      padding: 10px 20px;
      border-radius: 4px;
      width: 30%;
    }
    .feeWrapper .right {
      padding: 20px 20px;
  
      border-radius: 0 4px 4px 0;
    }
    .feeWrapper .right h6 {
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
    .feeWrapper .right p {
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
    }
    .feeWrapper .right .bottom {
      margin-top: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .feeWrapper .right .bottom div {
      display: flex;
      width: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    .feeWrapper .right .bottom p {
      font-weight: bold;
      margin: 0;
      padding: 20px;
    }
    .feeWrapper .right .bottom .lefts .icon {
      color: #f2b66e;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .center .icon {
      color: #f26275;
      font-size: 30px;
    }
    .feeWrapper .right .bottom .rights .icon {
      color: #5cb0e2;
      font-size: 30px;
    }
  }
  

@media (max-width: 641px) {
    .gridPanel {
        width: 100%;
        padding: 0px 20px;
      }

      .certificate {
        padding: 0px;
        display: block;
        margin: 30px 0px;
      }
      .leftSide,
      .middleSide,
      .rightSide {
        width: 100%;
        margin-bottom: 10px;
        display: block;
      }

      .leftSide h6,
      .middleSide h6,
      .rightSide h6 {
        margin: 0;
        font-size: 16px;
      }

      .leftSide p,
.middleSide p,
.rightSide p {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

      .leftSideP {
        padding: 0px;
        width: 100%;
        margin: 0px;
      }
      .checkCircle {
        margin-right: 5px;
      }
.infop {
  font-size: 16px;
}
.sliderTop {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;
  background: none;
  box-shadow: none;
}
.toolscoverd {
  padding: 0px;
}
.fee {
  background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/Fee-%26-Financing.png");
  background-size:cover;
  padding: 20px 40px 50px 40px;
  text-align: center;
  display: grid;
}

.feeBox {
  background-color: #fff;
  border-top: 6px solid #EDBB52;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 15px 15px;
padding: 20px 20px;
margin-top: 20px;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 70%;
  text-align: center;
  margin: auto;
}

.btn {
  margin: auto;
  margin-top: 20px;
}
.feeD {
  display: none;
}
}

@media (max-width: 481px) {
  .feeWrapper {
    display: flex;
    flex-flow: column;
  }
  .header {
    display: flex;
    flex-flow: column;
    padding: 30px 10px;
    align-items: center;
  }
  .header h5 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  .header p {
    text-align: center;
  }
  .wrap {
    display: flex;
    justify-content:space-evenly;
    padding: 0px;
    align-items: center;
  }
  .feeWrapper {
    display: flex;
    flex-flow: column;
    width: 90%;
    background: none;

    border-radius: 20px;
    margin-top: 0;
    gap: 30px;
  }
  .feeWrapper .left {
    background-color: #f0f8fa;
    padding-bottom: 20px;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  /* .feeWrapper .left h6 {
    color: #edb552;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    padding: 0;
  } */
  .feeWrapper .left p {
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }
  .feeWrapper .left .bottom {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .feeWrapper .left .bottom h5 {
    font-size: 28px;
    font-weight: 800;
    color: #edb552;
    margin: 0;
    text-align: center;
  }
  .feeWrapper .left .bottom button {
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #edb552;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    width: max-content;
  }
  .feeWrapper .right {
    padding: 0px 0px 20px 0px;
    border-radius: 0 4px 4px 0;
    border: 0;
  }
  .feeWrapper .right h6 {
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
  .feeWrapper .right p {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }
  .feeWrapper .right .bottom {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 0;
  }
  .feeWrapper .right .bottom div {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .feeWrapper .right .bottomS h5 {
    margin: 0;
    text-align: center;
    font-size: 28px;
    color: #0072BC;
  }
  .feeWrapper .right .bottomS button {
    outline: none;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    width: max-content;
  }
  .feeWrapper .right .bottom p {
    font-weight: bold;
    margin: 0;
    padding: 0px;
  }
  .feeWrapper .right .bottom .lefts .icon {
    color: #0072BC;
    font-size: 30px;
  }
  .feeWrapper .right .bottom .center .icon {
    color: #0072BC;
    font-size: 30px;
  }
  .feeWrapper .right .bottom .rights .icon {
    color: #0072BC;
    font-size: 30px;
  }

  .left span {
    padding: 20px;
  }
}


