.HowApply {
    margin: 70px 100px 70px 100px;
}

.pBotC {
    font-size: 18px;
    display: flex;
    margin: 12px 0px;
}


.HowApplyDiv {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

.HowApplyInner {
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
    border-radius: 10px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #2D9CD7;
}

@media (max-width: 481px) {
    .HowApply {
        margin: 30px 0px 30px 0px;
    }

    .HowApplyDiv {
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
}