.Section1 h1 {
  font-size: 37px;
  text-align: center;
  padding: 50px 100px 0px 100px;
}

.project {
  padding: 50px 0px;
}
.Testimonial {
  padding: 0px 100px 30px 100px;
}

.slide {
  height: 400px;
}

.h1 {
  color: #0072bc;
  margin: 10px 0px 20px 0px;
  font-size: 32px;
  text-align: center;
}
.infop {
  color: #0072bc;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0px;
  text-align: center;
}

.mainSlider {
  background: linear-gradient(
    90deg,
    rgba(225, 241, 245, 0.5) 0.18%,
    rgba(225, 241, 245, 0) 46.58%,
    rgba(225, 241, 245, 0.5) 99.17%
  );
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  height: 300px;
}

.check {
  color: green;
}

.checkP {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  margin: 0;
}

.points {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.QuoteOrange {
  font-size: 22px;
  color: #f99600;
  text-align: right;
}

.QuoteBlue {
  font-size: 22px;
  color: #0072bc;
  text-align: right;
}

.line {
  border: 1px solid #00000050;
  width: 30%;
  margin: auto;
  margin-bottom: 15px;
}

.para {
  font-size: 16px;
  color: #616161;
  margin: 5px 0px;
}

.name h3 {
  margin: 0;
  font-size: 20px;
}

.name p {
  margin: 0;
  font-size: 18px;
  border-bottom: 1px solid #0072bc;
  width: fit-content;
  color: #0072bc;
}

.Section2 {
  margin-top: 50px;
}

.LearnSupport {
  padding: 0px 100px;
  background: linear-gradient(90deg, #0072bc 0.8%, #2979a8 101.17%);
  display: flex;
  align-items: center;
  box-shadow: -1px 0px 10px 2px rgb(4 135 217 / 10%);
  justify-content: space-evenly;
}

.pBot {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 50px;
  padding-right: 80px;
  color: #fff;
}
.LearnSupport .pTop {
  color: #f99600;
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
}
.LearnSupport h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 37px;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
}

.btnWrap {
  display: flex;
  margin-top: 20px;
}

.btn1 {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  fill: #48c355;
  color: #fff;
  background-color: #48c355;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #48c355;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 0px #48c35550;
}

.btn1:hover {
  color: #48c355;
  background-color: #fff;
}

.btn2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  fill: #ffffff;
  color: #0072bc;
  background-color: white;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #0072bc;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 0px rgb(52 56 112 / 31%);
}

.btn2:hover {
  background-color: #0072bc;
  color: white;
  border: 1px solid #fff;
}

.bIcon {
  font-size: 20px;
  margin-left: 10px;
}

.icon {
  margin-left: 10px;
}

.button {
  margin-top: 50px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-weight: 700;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  margin: auto;
}

.button:hover {
  background: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
}

.FeeSection {
  padding: 50px 100px 0px 100px;
}

.swiper-scrollbar-drag {
  background: #0072bc;
}

.form {
  display: none;
}

.batch {
  text-align: center;
}

.batchBox {
  display: flex;
  gap: 250px;
  justify-content: center;
  align-items: center;
  background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/Batch-details-full.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px;
}

.blue {
  background: none;
  padding: 20px;
}

.orange {
  background: none;
  padding: 20px;
}

.ptopBlue {
  color: #0072bc;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.ptopOrange {
  color: #f99600;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.pBotBA {
  color: #686868;
  font-size: 16px;
}

.pBotB {
  color: #686868;
  font-size: 16px;
  text-align: left;
  margin: 5px 0px;
}

.dateTime {
  display: flex;
  align-items: center;
  gap: 5px;
}

.orangeIcon {
  color: #f99600;
  font-size: 20px;
}

.blueIcon {
  color: #0072bc;
  font-size: 20px;
}

/* Mobile View Batch details */

.Syllabus {
  margin: 50px 100px 50px 100px;
}
.mobileView {
  display: none;
}
.desktopView {
  display: block;
}

/* DeskTop View Batch details */
.NewBatch {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.NewBatch .iconOrange {
  color: #edb552;
  font-size: 30px;
  margin-right: 5px;
}

.NewBatch .iconBlue {
  color: #0072bc;
  font-size: 28px;
  margin-right: 5px;
}

.NewBlue,
.NewOrange {
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  padding: 20px 0px 20px 100px;
  width: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.NewBlue {
  border-left: 5px solid #0072bc;
}

.NewOrange {
  border-left: 5px solid #edb552;
}

.listDay {
  margin: 0;
  padding: 0;
  color: #0072bc;
  font-size: 18px;
  font-weight: 600;
}

.list {
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 641px) {
  .project {
    padding: 0px 20px;
    text-align: center;
  }
  .h1 {
    color: #0072bc;
    margin: 10px 0px 20px 0px;
    font-size: 24px;
  }
  .infop {
    color: #0072bc;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0px;
  }

  .batch {
    text-align: center;
  }

  .batchBox {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    height: fit-content;
    background: none;
  }

  .blue {
    background: #e1f1f580;
    padding: 20px;
  }

  .orange {
    background: #f996001a;
    padding: 20px;
  }

  .ptopBlue {
    color: #0072bc;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  .ptopOrange {
    color: #f99600;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  .pBotBA {
    color: #686868;
    font-size: 13px;
  }

  .pBotB {
    color: #686868;
    font-size: 13px;
    text-align: left;
    margin: 5px 0px;
  }

  .dateTime {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .orangeIcon {
    color: #f99600;
    font-size: 20px;
  }

  .blueIcon {
    color: #0072bc;
    font-size: 20px;
  }

  .form {
    background: #fff;
    margin: 20px;
    padding: 20px 0px;
    border-top: 6px solid #0072bc;
    border-bottom: 12px solid #f99600;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
  }

  .Section1 h1 {
    font-size: 24px;
    padding: 20px;
    margin: 40px 0px 0px 0px;
    font-weight: 800;
  }
  .Testimonial {
    padding: 0px;
  }
  .slide {
    height: fit-content;
  }
  .mainSlider {
    padding: 20px;
    height: 350px;
    margin: 10px 5px 40px 5px;
    text-align: left;
  }
  .blue {
    background: #e1f1f580;
    padding: 20px;
  }

  .orange {
    background: #f996001a;
    padding: 20px;
  }

  .button {
    margin-top: 30px;
  }
  .points {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 481px) {
  .Syllabus {
    margin: 50px 20px;
  }

  .syllabusLeft {
    margin: 0px 0px 30px 0px;
    position: inherit;
  }

  .line {
    margin-top: 15px;
    z-index: 1;
    margin-left: 12px;
  }
  .ans h5 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ans h6 {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .FaqWrapper {
    padding-left: 10px;
  }

  .syllabusRight {
    margin: 0px;
  }

  .PProgrammain {
    /* background-image: url(/syllabus-sideLine.png); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
  .PProgramInner {
    display: grid;
    grid-template-columns: 45% 45%;
    font-size: 14px;
    padding: 20px 20px 20px 20px;
  }
  .PProgramInner div,
  .PProgrammains p {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .PProgramInner p {
    display: grid;
    align-items: center;
  }
  .PProgrammains h5 {
    left: 30px;
  }
}

@media (max-width: 481px) {
  .mobileView {
    display: block;
  }
  .desktopView {
    display: none;
  }
  .CourseFeeh {
    margin: 40px 0px 30px 0px;
  }

  .BatchDetailsTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin-top: 20px;
    gap: 10px;
  }
  .list {
    margin: 0px 0px 10px 10px;
    font-size: 16px;
  }
  .phead {
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
  }
  .CourseFee {
    padding: 30px 10px;
    margin: 20px;
    width: auto;
  }
  .listcheck {
    justify-content: flex-start;
  }

  .NewBlue,
  .NewOrange {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
  }

  .listDay {
    margin: 0;
    padding: 0;
    color: #0072bc;
    font-size: 16px;
    font-weight: 600;
  }

  .NewBatch .iconOrange {
    color: #edb552;
    font-size: 26px;
    margin-right: 5px;
  }

  .NewBatch .iconBlue {
    color: #0072bc;
    font-size: 26px;
    margin-right: 5px;
  }
}
