.head {
    text-align: left;
    font-size: 24px;
    margin: 10px 0px;
}

.cont p {
    margin: 0;
}

.cont1 {
    margin-bottom: 590px;
}

.cont2 {
    margin-bottom: 310px;
}

.cont {
    margin-bottom: 30px;
}

.section {
    padding-right: 50px;

}

.greyflex {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
    margin-top: 20px;


  }

  .boxesGrey {
    background: #F6F6F6B2;
    padding: 20px;
    display: flex;
    text-align: center;
    background: rgba(246, 246, 246, 0.7);
border-radius: 10px;
flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .GreyP {
    margin: 0;
    font-size: 16px;
  }
  .LeftWrapImg {
    margin: 10px 0px !important;
  }

  .logosD {
    margin-top: 30px;
  }

  .logos {
    margin-bottom: 30px;
  }

  .greyIcon {
    color: #4C4C4C;
    font-size: 30px;
  }

  .pBlue {
    margin: 0;
font-weight: 600;
font-size: 18px;
color: #0072BC;
}

@media (max-width: 641px) {
    .cont2, .cont1 {
        margin: 0;
    }

    .cont2 {
      display: none;
    }
    .section {
        padding-right: 0px;
    }
    .greyflex {
        display: flex;
      flex-direction: column;
      gap: 20px;
      }
      .pBlue {
        text-align: center;
      }
}