.Section2 {
  margin-top: 50px;
}

.infop {
  color: #0072bc;
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.LearnSupport {
  padding: 30px 100px 30px 350px;
  background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/learners-support-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 0px;
}

.pBot {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #0072bc;
  margin: 0;
  margin-bottom: 30px;
  padding-right: 80px;
}

.LearnSupport .pTop {
  color: #f99600;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
}
.LearnSupport h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #0072bc;
  line-height: 37px;
  margin: 0;
  margin-bottom: 20px;
}

.btnWrap {
  display: flex;
  margin-top: 20px;
}

.btn1 {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  fill: #48c355;

  background-color: #48c355;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #48c355;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 0px #48c35550;
  padding: 12px;
}

.btn1:hover {
  color: #48c355;
  background-color: #fff;
}

.btn2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  fill: #ffffff;
  color: #0072bc;
  background-color: white;
  padding: 12px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #0072bc;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 0px rgb(52 56 112 / 31%);
}

.btn2:hover {
  background-color: #0072bc;
  color: white;
  border: 1px solid #fff;
}

.bIcon {
  font-size: 20px;
  margin-left: 10px;
}

@media (max-width: 481px) {
  .LearnSupport {
    padding: 40px 20px 0px 20px;
    background: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/NewDesignImage/learner's-support.png");
    display: block;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
    height: 700px;
    justify-content: space-evenly;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
  }
  .LearnSupport .pTop {
    font-size: 20px;
    font-weight: bold;
  }
  .LearnSupport h5 {
    font-size: 26px;
    line-height: 35px;
  }

  .pBot {
    font-size: 16px;
    line-height: 30px;
    padding-right: 0px;
  }

  .btnWrap {
    display: grid;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 20px;
  }

  .h1 {
    color: #0072bc;
    margin: 10px 0px 20px 0px;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
  }
  .infop {
    font-size: 20px;
  }
  .rightPart {
    display: none;
  }
}
