.WhyLearnbay {
  padding: 70px 100px;
  width: 100%;
}

.divList {
  display: flex;
  justify-content: center;
}

.list {
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.divList p {
  margin: 0px;
  margin-right: 30px;
  margin-left: 30px;
}

.tickIcon {
  color: #2f4ea2;
  font-size: 16px;
  margin: 0px 5px;
}

.FirstDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 90px;

  margin-top: 30px;
  align-items: center;
}

.MiddleDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url("/whylearbay-section2-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -100px;
  margin-right: -100px;
  padding: 0 100px;

  margin-top: 30px;
  align-items: center;
}

.FirstImg {
  background-image: url("/interactive-learning.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;

  background-position: center;
}

.MiddleImg {
  margin-top: 20px;
  height: 100%;
  margin-bottom: -90px;
}

.FirstText {
  display: flex;
  flex-flow: column;
  padding: 50px;
}

.FirstText h3 {
  font-size: 30px;
  color: #28557a;
  margin: 0;
}
.iconBox {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 90%;
}
.iconBox p {
  font-size: 17px;
  line-height: 26px;
}
.DivIcon {
  display: flex;
  gap: 20px;
  flex-flow: column;
  margin-top: 30px;
}
.DivIcon button {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.DivIcon button:hover {
  background-color: #edb552;
  border: 0;
}
.BIcon {
  color: white;
  font-size: 20px;
}
.BoxIconuser {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #db2222;
  border-radius: 10px;
}

.BoxIconcompress {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #335bb0;
  border-radius: 10px;
}

.BoxIconcheck {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #2fba8b;
  border-radius: 10px;
}

.BoxIconflag {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #e0769c;
  border-radius: 10px;
}

.BoxIconclone {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #f0a211;
  border-radius: 10px;
}

.BoxIconcard {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: #b72ee6;
  border-radius: 10px;
}

.iconBox p {
  margin: 0px;
}

@media (max-width: 961px) {
  .WhyLearnbay {
    padding: 70px 0px;
    width: 100%;
  }
.FirstText {
  padding: 30px;
}
.MiddleDiv {
  padding: 0px 50px 0px 50px;
  margin: 0px;
  background-position: right;
  display: flex;
}
.MiddleImg {
  margin: 0;
}
.FirstDiv {
  padding: 0px 50px 0px 50px;
  margin: 0px;
  background-position: right;
  margin: 50px 0px;
}
.FirstImg {
  margin: 0;
}
}

@media (max-width: 600px) {
  .WhyLearnbay {
    padding: 0px 0px;
  }

  .FirstText h3 {
    font-size: 22px;
  }

  .divList {
    display: block;
    text-align: center;
  }

  .FirstDiv {
    display: block;
    text-align: center;
    align-items: center;
    margin: 30px 20px 0px 20px;
  }

  .MiddleDiv {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px;
    width: auto;
    align-items: center;
    margin: 40px 0px;
  }

  .FirstImg {
    height: 210px;
  }

  .MiddleImg {
    height: 350px;
    width: 100%;
  }

  .LastImg {
    height: 350px;
  }

  .FirstText {
    padding: 20px;
  }
.iconBox {
  width: 100%;
}
}

@media (max-width: 481px) {
  .FirstDiv {
    padding: 0px;
  }
  .MiddleDiv {
    padding: 20px;
  }
  .MiddleImg {
    height: fit-content;
    width: 100%;
  }
  .FirstText {
    padding: 20px 0px;
    text-align: left;
  }
.MiddleDiv {
  background-position: center;
}
.DivIcon {
  align-items: center;
}
}
