.CityText {
    margin: 70px 100px;
}

.CityTextP {
    font-size: 12px;
}

@media (max-width: 1281px) {
    .CityText {
        margin: 30px 20px;
    }
}

@media (max-width: 481px) {
    .CityText {
        margin: 30px 20px;
    }
}