.boxWrap {
  padding: 40px 100px;
  display: grid;
  grid-template-columns: 29% 70%;
  gap: 10px;
  height: 750px;
}
.leftSide {
  display: flex;
  flex-flow: column;
}
.leftSide h4 {
  text-align: left;
  font-size: 27px;
}
.leftSide button {
  width: max-content;
  border: 0;
  font-weight: 500;
  color: #242424;
  background-color: #edbb52;
}
.conteWrap {
  position: relative !important;
  width: 100%;
}
.oneDiv {
  position: absolute;
  left: -10rem;
  top: 37rem;
  display: grid;
  grid-template-columns: 56% 27%;
  justify-content: space-evenly;
}
.twoDiv {
  position: absolute;
  left: 20rem;
  top: 27rem;
  display: grid;
  grid-template-columns: 56% 27%;
  justify-content: space-evenly;
}
.leftContent {
  display: flex;
  flex-flow: column;
}
.leftContent h4 {
  text-align: left;
  font-size: 18px;
  margin: 0;
}
.imgWrap {
  position: absolute;
  left: 13rem;
  top: -2rem;
}
.threeDiv {
  position: absolute;
  left: 44rem;
  top: 10rem;
  display: grid;
  grid-template-columns: 98% 2%;
  justify-content: space-evenly;
}
.threeDiv .imgWrap {
  left: 10rem;
}
.lineWrap {
  position: relative;
}
.lineImg {
  position: absolute;
  left: -12rem;
}

.ButtonShowM {
  display: none;
}
.ButtonShowD {
  display: block;
}
.rightDiv1 {
  display: none;
}


@media (max-width: 641px) {
  .boxWrap {
    padding: 20px;
    height: fit-content;
    display: block;
  }
  .leftSide {
    display: block;
  }

  .lineImg {
display: none;
  }
  .lineWrap, .lineWrap, .conteWrap, .threeDiv, .oneDiv, .twoDiv, .lineImg, .imgWrap, .oneDiv {
    position:unset;
  }
  .conteWrap {
    margin-top: 30px;
  }
  .twoDiv, .threeDiv, .oneDiv {
    display: flex;
    flex-direction: column-reverse;
}
.ButtonShowD {
  display: none;
}
.ButtonShowM {
  display: flex;
  margin: auto;
  justify-content: center;
}
.pSpanDiv {
  display: flex;
  gap: 30px;
}

.leftContent p {
  padding: 0px 0px 20px 0px;
}

.leftContent .pBotP {
  padding: 0;
  margin: 0;
}

.round {
  border: 1px solid #000;
  border-radius: 50px;
  padding: 5px;
  width: 20px;
  margin-top: 0px;
  height: 20px;
}

.roundLine {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roundLine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  border: 1px solid #edbb52;;
  height: 100%;
  width: 0;
}
.rightDiv1 {
  display: block;
  margin: 40px 0px;
}
.conteWrap {
  display: none;
}
}
