.Syllabus {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 50px 100px 50px 100px;
}

.syllabusLeft {
  margin: 0px 10px;
  position: relative;
}
.syllabusLeft p {
  font-size: 18px;
  color: #646464;
}
.syllabusLeft h4 {
  font-size: 36px;
  font-weight: 800;
}
.Syllabusbutton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Button {
  border-radius: 6px;
}

.ques {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;

  padding: 15px 20px 10px 20px;
  align-items: center;
  cursor: pointer;
  margin-top: -13px;
  height: 60px;

  margin-bottom: 23px;
}
.quesO {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;

  padding: 15px 20px 10px 20px;
  align-items: center;
  margin-top: -10px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 114, 188, 0.15);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 114, 188, 0.15);
  box-shadow: 0px 0px 13px 0px rgba(0, 114, 188, 0.15);

  cursor: pointer;
}
.ques h2,
.quesO h2 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(28, 28, 28);
}
.ans {
  margin-bottom: 5px;
}
.ans {
  padding: 5px 20px 10px 20px;
  color: rgb(90, 90, 90);
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 114, 188, 0.15);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 114, 188, 0.15);
  box-shadow: 0px 0px 13px 0px rgba(0, 114, 188, 0.15);
  border-radius: 0px 0px 8px 8px;
}
.ansV {
  display: none;
}

.QInner {
  display: grid;
  grid-template-columns: 3% 97%;
  z-index: 2;
  background-color: #fff;
}

.bIcons {
  color: #0072bc;
  font-size: 14px;
}

.PIcons {
  font-size: 26px;
  margin-right: 10px;
  color: #edb552;
}

.line {
  margin-top: 35px;
  z-index: 1;
  margin-left: 28px;
}

.FaqWrapper {
  border-left: 2px solid #0487d9 !important;
  margin-top: 22px;
  margin-left: 7px;
  padding-top: 2px;
  padding-left: 22px;
  margin-bottom: -23px;
  z-index: 0;
}
.white {
  z-index: 1;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 10px;
  bottom: -30px;
  left: 33px;
  height: 51px;
  margin-top: -30px;
}

.syllabusRight {
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  z-index: 1;
  margin: 0px 10px;
}
.PProgram {
  border-radius: 4px 4px 0px 0px;
}
.PProgram > p {
  font-size: 16px;
  margin: 0;
  color: #0072bc;
  font-weight: 600;
  padding: 15px 20px 0px 20px;
}
.PProgram p span {
  padding-bottom: 5px;
  border-bottom: 2px solid #edb552;
}
.PProgramInner {
  display: grid;
  grid-template-columns: 49% 49%;

  font-size: 14px;

  padding: 10px 20px 10px 50px;
}
.PProgramInners {
  font-size: 14px;
  padding: 40px 20px;
}
.PProgrammains {
  background: #ffffff;
  border-width: 0px 6px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  border-style: solid;
  border-color: #0072bc;
  position: relative;
  z-index: 10;
  border-radius: 17px;
}
.PProgrammain {
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/syllabus-sideLine.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 70px;
}
.PProgramInner div,
.PProgrammains p {
  display: flex;
  gap: 8px;
  align-items: center;
}

.PProgrammains h5 {
  margin: 0;
  text-align: center;
  font-size: 22px;
  position: absolute;
  margin: auto;
  left: 45px;
  top: -15px;
  justify-content: center;
  font-weight: 600;
}
.PProgrammains h5 span {
  padding-bottom: 5px;
  border-bottom: 4px solid #edb552;
}
.PProgramInner p {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.PProgramInner p span {
  font-size: 11px;
  color: #7c7c7c;
}
.shadowImg {
  position: absolute;
  left: -10px;
  width: 100%;
  height: auto;
  z-index: 0;
  bottom: -40px;
}
@media (max-width: 1281px) {
  .Syllabus {
    margin: 70px 20px 0px 20px;
  }
  .PIcons {
    font-size: 22px;
    margin-right: 10px;
    color: #edb552;
  }

  .line {
    margin-top: 35px;
    z-index: 1;
    margin-left: 24px;
  }

  .FaqWrapper {
    border-left: 2px solid #0487d9 !important;
    margin-top: 22px;
    margin-left: 7px;
    padding-top: 2px;
    padding-left: 22px;
    margin-bottom: -23px;
    z-index: 0;
  }
  .white {
    z-index: 1;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 10px;
    bottom: -30px;
    left: 33px;
    height: 51px;
    margin-top: -30px;
  }

  .syllabusRight {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    z-index: 1;
    margin: 0px 10px;
  }
  .PProgram {
    border-radius: 4px 4px 0px 0px;
  }
  .PProgram > p {
    font-size: 16px;
    margin: 0;
    color: #0072bc;
    font-weight: 600;
    padding: 15px 20px 0px 20px;
  }
  .PProgram p span {
    padding-bottom: 5px;
    border-bottom: 2px solid #edb552;
  }
  .PProgramInner {
    display: grid;
    grid-template-columns: 49% 49%;

    font-size: 14px;

    padding: 10px 20px 10px 10px;
  }
  .PProgramInners {
    font-size: 14px;
    padding: 40px 20px;
  }
  .PProgrammains {
    background: #ffffff;
    border-width: 0px 6px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    border-style: solid;
    border-color: #0072bc;
    position: relative;
    z-index: 10;
    border-radius: 17px;
  }
  .PProgrammain {
    background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/syllabus-sideLine.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 70px;
  }
  .PProgramInner div,
  .PProgrammains p {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .PProgrammains h5 {
    margin: 0;
    text-align: center;
    font-size: 17px;
    position: absolute;
    margin: auto;
    left: 15px;
    top: -5px;
    justify-content: center;
    font-weight: 600;
  }
  .PProgrammains h5 span {
    padding-bottom: 5px;
    border-bottom: 4px solid #edb552;
  }
  .PProgramInner p {
    font-size: 14px;
    font-weight: 600;
    color: black;
  }
  .PProgramInner p span {
    font-size: 11px;
    color: #7c7c7c;
  }
  .shadowImg {
    position: absolute;
    left: -10px;
    width: 100%;
    height: auto;
    z-index: 0;
    bottom: -40px;
  }
}

@media (min-width: 641px) and (max-width: 960px){
  .Syllabus {
    margin: 40px 20px 20px 20px;
    display: block;
  }
  .syllabusLeft {
    margin-bottom: 20px;
  }
  .PProgram p {
    font-size: 26px;
  }
  .PProgramInner {
    margin: 20px 0px 0px 80px;
  }
  .PProgramInner p {
    font-size: 17px;
  }
  .PProgrammains {
    margin-top: 20px;
  }
  .PProgrammains h5 {
    font-size: 26px;
  }
  .PProgrammain{
    background-size: cover;
  }
  .syllabusRight{
    margin-top: 60px;
  }
  .FaqWrapper {
    margin-left: 0px;
  }
}

@media (max-width: 801px) {
  .line {
    margin-left: 16px;
  }
  .syllabusLeft h4 {
    font-size: 24px;
  }
  .syllabusLeft button {
    font-size: 14px;
    padding: 15px;
  }
}
@media (max-width: 641px) {
  .Syllabus {
    margin: 30px 10px;
    display: flex;
    flex-flow: column;
    gap: 30px;
  }
}

@media (max-width: 481px) {
  .Syllabus {
    display: grid;
    grid-template-columns: auto;
    margin: 50px 20px;
  }

  .syllabusLeft {
    margin: 0px 0px 30px 0px;
    position: inherit;
  }

  .line {
    margin-top: 15px;
    z-index: 1;
    margin-left: 12px;
  }
  .ans h5 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ans h6 {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .FaqWrapper {
    padding-left: 10px;
  }

  .syllabusRight {
    margin: 0px;
  }

  .white {
    z-index: 1;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 10px;
    left: 29px;
    height: 53px;
    margin-top: -29px;
  }
  .PProgrammain {
    background-image: url(/syllabus-sideLine.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
  .PProgramInner {
    display: grid;
    grid-template-columns: 45% 45%;
    font-size: 14px;
    padding: 20px 20px 20px 20px;
  }
  .PProgramInner div,
  .PProgrammains p {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .PProgramInner p {
    display: grid;
    align-items: center;
  }
  .PProgrammains h5 {
    left: 30px;
  }
}
