.Course {
    width: 100%;
  }
  .Course h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }
  .feature {
    display: flex;
    justify-content: space-evenly;
  }
  
  .feature p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0px 5px;
  }
  .tick {
    font-size: 20px;
    color: #2d9cd7;
  }
  .coursesM {
    margin-top: 0px;
  }

  .listPanel {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    gap: 20px;
    background: #009CE7;
  }

  .line {
    border: 1px solid #FFFFFF;
  }

  .listPanel span {
    padding: 15px 25px; 
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
  }

  .gridPanel {
    display: block;
    padding: 20px 200px;
  }

  .leftSide,
  .middleSide,
  .rightSide {
    padding: 20px;
    display: flex ;
    justify-content: space-between;
    cursor: pointer;
  }

  .gridPanel .leftSide:nth-child(even) {
    background: #f4fcfe;
    border-radius: 10px;
  }

  .leftSide h6,
  .middleSide h6,
  .rightSide h6 {
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
  
    color: #2d9cd7;
  }
  .leftSide p,
  .middleSide p,
  .rightSide p {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0;
  }
  .checkCircle {
    margin-right: 15px;
  }
  .btnWrapper {
    display: flex;
    gap: 10px;
  }
  .btnWrapper button {
    padding: 0;
    border-radius: 0px;
    border: none;
    color: #009CE7;
    font-size: 30px;
    background: none;
  }

  .leftSide > span {
    width: 100% !important;
  }

  .coursesM {
    display: none;
  }
  
  @media (max-width: 1025px) {
    .Course {
      padding: 0px;
      margin: 0px;
      width: 100%;
    }
    .Course h2 {
      font-size: 24px;
    }
    .feature {
      flex-flow: column;
      align-items: flex-start;
      line-height: 1.9em;  
    }
    .coursesM {
      padding: 0px;
      box-shadow: none;
      display: block; 
    } 

    .coursesD {
      display: none;
    }

    .gridPanel {
      gap: 0px;
      display: flex;
      justify-content: center;
    }
    .listPanel {
      display: grid;
      grid-template-columns: 100%;
      gap: 0px; 
      padding: 0px;
      background: #fff;
  }
  .line {
    display: none;
  }
    .listPanel span {
      font-size: 14px;
      width: 100%;
      padding: 15px 30px; 
    }
    .gridPanel {
display: block;
padding: 0px;
    }
    .leftSide,
    .middleSide, 
    .rightSide {
      width: 100%;
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
    .courseImg {
      width: 100%;
    }
    .leftSide h6,
    .middleSide h6,
    .rightSide h6 {
      margin-right: 0;
    }
    .checkCircle {
      margin-right: 5px;
    }
    .leftSide p,
    .middleSide p,
    .rightSide p {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-right: 20px;
    }
    .listPanel span {
      border-radius: 0px; 
    }
    .btnWrapper button {
      font-size: 18px;
    }
    .spanDiv  p{
      margin: 0;
      display: flex;
    align-items: center;
    }
    .gridPanel .leftSide:nth-child(even) {
      background: #f4fcfe;
    }
    .gridPanel .leftSide:nth-child(odd) {
      background: none;
    }
  }
  