.DivImg {
  margin-top: 70px;
}

.Open {
  margin: 50px 100px;
  }

.headerInfo {
  margin: 0px 0px 50px 0px;
}
.headerInfo h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}
.headerInfo span {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  color: black;
}
.time {
  color: black;
}

.bodyInfo {
  display: grid;
  gap: 25px;
  grid-template-columns: 33% 65%;
}

.leftInfo {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
}

.leftInfo article {
  margin-top: 30px;
  padding: 0px 20px;
  width: 100%;
  margin-bottom: 50px;
}
.leftInfo article h2 {
  color: black;
  font-size: 26px;
}
.leftInfo article p {
  color: black;
  font-size: 18px;
}
.leftInfo article p strong {
  color: black;
  font-size: 20px;
}
.leftInfo article li {
  color: #000;
  margin-bottom: 10px;
  line-height: 23px;
}
.leftInfo article li strong {
  color: rgb(82, 82, 82);
}
.leftInfo a {
  color: #2D9CD7;
  border-bottom: 1px solid #2D9CD752;
}
.leftInfo a:hover {
  color: #2D9CD7;
  border-bottom: 1px solid #2D9CD746;
}
.leftInfo hr {
  margin-left: 30px;
  margin-right: 30px;
  height: 2px;
  outline: none;
  border: 0px;
  background-color: rgb(201, 201, 201);
}
.tag {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag p {
  font-weight: 600;
  color: gray;
}
.lSide {
  display: flex;
  align-items: center;
  gap: 20px;
}
.lSide span {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 5px;
}
.rSide p {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.tIcon {
  color: #2D9CD7;
  font-size: 20px;
  cursor: pointer;
}
.tIcon:hover {
  background-color: #2D9CD7;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  padding: 5px;
}
.ProfileInfo {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  padding: 20px;
  display: flex;
  margin-bottom: 40px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.contentT {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  padding: 20px;
  display: flex;
  margin-bottom: 40px;
  flex-flow: column;
  justify-content: center;
}
.contentT p {
  cursor: pointer;
}
.contentT p:hover {
  color: #2D9CD7;
}

.contentT div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.numberBack {
  background-color: #e8f6ff;
  border-radius: 50%;
  color: #2D9CD7;
  padding: 5px 10px;
}
.table {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
.table h5 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin: 10px 0px 30px 0px;
}
.rPost {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  border-left: 4px solid #2D9CD7;
}
.rPost:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  -moz-box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  box-shadow: 0px 0px 5px 0px rgb(45 156 215 / 31%);
  transition: all 0.5s ease-in-out;
}
.rPost h5 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}
.rPost h5:hover {
  color: #2D9CD7;
}
.rPost span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.rPost span p {
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #000;
}
.timeIcon {
  font-size: 16px;
  color: #2D9CD7;
}

@media (max-width: 481px) {
  .DivImg {
    margin-top: 70px;
  }
  
  .Open {
    margin: 30px 20px;
    }

    .headerInfo h1 {
      font-size: 24px;
    }

    .headerInfo span {
      display: block;
    }

    .bodyInfo {
      display: block;
    }

    .tag {
      display: block;
    }

    .lSide {
      display: grid;
    }

    .table h5 {
      font-size: 18px;
    }

    .leftInfo article h1 {
      font-size: 20px;
      padding-top: 20px;
    }

    .leftInfo article h2 {
      font-size: 18px;
    }

    .leftInfo article p {
      font-size: 16px;
    }
    .leftInfo article p strong {
      color: black;
      font-size: 16px;
    }
    .leftInfo article h3 {
      color: black;
      font-size: 16px;
    }

    .relatePost {
      display: -webkit-box;
      overflow: auto;
  
    }

    .rPost {
      margin-right: 10px;
      width: 95%;
    }
}