html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
:root {
  --swiper-navigation-color: #edb552;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 12px 30px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #0072bc;
}

.buttonline {
  padding: 15px 20px;
  outline: none;
  background-color: #fff;
  color: #2d9cd7;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #2d9cd7;
}
h2 {
  font-weight: 800;
}
.outLineBtn {
  padding: 15px 20px;
  border: 2px solid #0072bc;
  color: #0072bc;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
}
.bIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #0072bc;
}
.bIcons {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  display: initial;
}

.bIconS {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  display: initial;
}

.pTop {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  color: black;
  line-height: 40px;
}

.pTopp {
  font-size: 28px;
  font-weight: 500;
  padding: 2px 8px;

  border-radius: 5px;
  line-height: 50px;
}

.pTopF {
  font-size: 22px;
}

.spanh1 {
  font-size: 26px;
  margin: 0;
  font-weight: 400;
  padding: 0;
}

.pBot {
  font-size: 18px;
  line-height: 1.5em;
  color: rgb(89, 89, 89);
}
.megaMenu {
  height: 100vh;
  overflow-y: scroll;
}
.vIcon {
  font-size: 42px;
  color: #2d9cd7;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 50%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MainCities {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0px 100px 70px 100px;
}

h4 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #000;
  padding: 0;
  font-weight: 600;
  text-align: center;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.popupModal {
  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
}
.RightPopup {
  display: flex;
  flex-flow: column;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.whiteP {
  background-color: transparent;
  height: 600px;
  width: 600px;
}
.RightPopup h5 {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.RightPopup p {
  margin: 0;
  font-size: 16px;
  color: rgb(143, 143, 143);
}
.PricePopup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.PriceH {
  font-size: 22px;
  color: rgb(79, 79, 79);
  font-weight: 600;
}
.leftP,
.rightP {
  display: flex;
  flex-flow: column;
  gap: 10px;
  background-color: #e7f4ff;
  padding: 10px;
  border-radius: 12px;
}
.rightP {
  margin-top: -30px;
  margin-left: -20px;
}
.divWrapper {
  display: none;
}
.FlDiv {
  display: none;
}
.show-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-counter p {
  display: flex;
  font-weight: 600;
}
.countdown {
  display: flex;
  align-items: center;
}
.countdown p {
  font-size: 25px;
  font-weight: 600;
  margin-right: 5px;
}
.countdown span {
  margin-top: 5px;
  margin-right: 5px;
}
.hoverBtn {
  padding: 15px 20px;
  outline: none;
  background-color: #2d9cd7;
  color: white;
  border: 0;
  gap: 10px;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .whiteP {
    background-color: transparent;
    height: 600px;
    width: 350px;
  }
}
@media (max-width: 481px) {
  h4 {
    font-size: 26px;
    margin: 0;
    color: #000;
    padding: 0;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .pTopp {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #0072bc;
  }
  .pTop {
    font-size: 16px;
    line-height: 10px;
  }
  .pTopF {
    font-size: 18px;
  }
  .pBot {
    font-size: 18px;
  }
  .hoverBtn {
    padding: 8px 10px;
    outline: none;
    background-color: #2d9cd7;
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
  }
  .hoverBtn:hover {
    background-color: #5cc1e2;
    color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  h5 {
    font-size: 24px;
    margin: 0;
    color: #000;
    padding: 0;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .leftPopup {
    display: none;
  }
  .RightPopup {
    display: flex;
    flex-flow: column;
    margin-left: 0;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .RightPopup h5 {
    margin-top: 10px;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .RightPopup p {
    font-size: 16px;
    color: rgb(143, 143, 143);
  }
  .divWrapper {
    display: flex;
    position: relative;
    width: 100vw;
  }
  .FlDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    border-top: 1px solid rgba(98, 98, 98, 0.125);
    height: 60px;
    width: 100vw;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .FlDiv div {
    display: flex;
    align-items: center;
  }
  .flDivLeft {
    border-right: 2px solid #2d9cd7;
    padding-right: 10px;
    margin: 0;
  }
  .MainCities {
    display: block;
    margin: 0px;
  }
}
