.boxWrapper {
  margin-top: 50px;
  margin-bottom: 30px;
  margin: 0px 100px;
}
.pTop {
  font-size: 20px;
  color: #0072bc;
  margin: 0;
}
.boxWrapper h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.BoxDiv {
  display: flex;
  grid-template-columns: 55% 45%;
  padding: 0px 0px 70px 0px;
}
.left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 110%;

  padding-top: 70px;
}
.boxActive {
  position: relative;
  width: 32%;
  z-index: 1;
  display: flex;
  flex-flow: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 34px 25px;
  background: #0072bc;
  border-radius: 20px;
  -webkit-box-shadow: -11px 26px 31px 0px rgba(41, 121, 173, 0.49);
  -moz-box-shadow: -11px 26px 31px 0px rgba(41, 121, 173, 0.49);
  box-shadow: -11px 26px 31px 0px rgba(41, 121, 173, 0.49);
}

.box {
  width: 32%;
  height: max-content;
  padding: 34px 25px;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  flex-flow: column;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 11px rgba(41, 121, 173, 0.1);
  border-radius: 20px;
}
.box:hover {
  position: relative;
  width: 32%;
  z-index: 1;
  display: flex;
  flex-flow: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 44px 25px;
  background: #0072bc;
  border-radius: 20px;
  -webkit-box-shadow: -11px 26px 31px 0px rgba(41, 121, 173, 0.49);
  -moz-box-shadow: -11px 26px 31px 0px rgba(41, 121, 173, 0.49);
  box-shadow: -11px 26px 31px 0px rgba(41, 121, 173, 0.49);
}
.box:hover .boxIcon {
  color: white;
}
.box:hover h5,
.boxActive h5 {
  margin: 0;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.box:hover p,
.boxActive p {
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: white;
}
.boxActive img {
  width: 60px;
  height: auto;
}
.box h5 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}
.boxIcon {
  color: #0072bc;
  font-size: 60px;
}
.box p {
  margin: 0;
  font-size: 18px;
  color: #54595f;
  text-align: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.imgBack {
  width: 80%;
  height: max-content;
  display: flex;
  flex-flow: column;
}
.imgBack h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 35px;

  color: #000000;
}
.swiperSlideer {
  display: flex;
  flex-flow: column-reverse;
  height: fit-content;
  margin-bottom: 20px;
}
.reviewWrap {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(237, 181, 82, 0.3);
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 50px 20px 50px 20px;
}
.profile {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.profile h5 {
  margin: 0ch;
  font-size: 24px;
}
.profile p {
  margin: 0;
  color: #0072bc;
}
.shadow {
  border: 0.6px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(237, 181, 82, 0.7);
}
.content {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}
.leftContent {
  flex-basis: 45%;
  border-right: 1px solid grey;
}
.leftContent h5 {
  margin: 0;
  color: #edb552;
  font-size: 28px;
  font-weight: 600;
}
.rightContent h5 {
  margin: 0;
  color: #0072bc;
  font-size: 28px;
  font-weight: 600;
}
.leftContent p,
.rightContent p {
  margin: 0;
  color: #646464;
  width: 80%;
}
@media (max-width: 1281px) {
  .boxIcon {
    font-size: 40px;
  }
  .boxWrapper {
    margin-bottom: 30px;
    margin: 0px 40px;
  }
  .boxWrapper h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .box,
  .boxActive {
    margin-bottom: 0;
  }

  .box h5,
  .boxActive h5 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
  .boxActive img,
  .box img {
    width: 40px;
    height: 40px;
  }
  .imgBack h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    line-height: 35px;

    color: #000000;
  }
  .profile h5 {
    font-size: 18px;
  }
  .leftContent h5 {
    margin: 0;
    color: #edb552;
    font-size: 18px;
    font-weight: 600;
  }
  .rightContent h5 {
    margin: 0;
    color: #0072bc;
    font-size: 18px;
    font-weight: 600;
  }
  .leftContent p,
  .rightContent p {
    margin: 0;
    font-size: 14px;
    color: #646464;
    width: 80%;
  }
}

@media (max-width: 481px) {
  .boxWrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin: 50px 20px 50px 20px;
  }
  .boxWrapper h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .formWrapper h5 span {
    font-size: 24px;
  }
  .imgBack > h5 {
    display: none;
    font-size: 22px;
  }
  .boxActive {
    width: 100%;
  }
  .box:hover {
    width: 100%;
  }
  .boxActive:hover {
    width: 100%;
  }
  .BoxDiv {
    display: block;
    grid-template-columns: auto;
    padding: 0px;
  }
  .left {
    display: block;
    margin: 0px;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0px;
  }
  .box h5 {
    font-size: 20px;
  }
  .box {
    margin-top: 30px;
    width: 100%;
    margin-right: 0px;
    display: flex;
    flex-flow: column;
  }
  .boxActive {
    margin-top: 30px;
  }
  .box p {
    font-size: 16px;
    padding-right: 0px;
  }
  .imgBack {
    width: 100%;
    margin-bottom: 10px;
  }

  .ImgB {
    background-color: #ebf4ff;
    width: 30%;
    border-radius: 50%;
    padding: 10px;
  }
  .ImgC {
    background-color: #ebf4ff;
    width: 30%;
    border-radius: 50%;
    padding: 10px;
  }
}
